[2016-03-14 09:43] nemesisdesign opened #1 "nginx does not redirect to https correctly"
Try accessing the controller via HTTP, it should redirect to HTTPS but on Chrome it downloads a file instead.

[2016-03-16 19:13] nemesisdesign opened #2 "Add support for django-netjsonconfig 0.3"
Add support for django-netjsonconfig 0.3 and release new version.

[2016-03-20 13:18] #1 closed

[2016-04-17 12:43] #2 closed

[2016-04-17 12:43] nemesisdesign commented on #2
Done

[2016-04-27 18:08] nemesisdesign opened #3 "Add support for ubuntu 16"
Ubuntu 16 has python3.5 preinstalled, the role doesn't work out of the box.

[2016-04-29 16:43] #3 closed

[2016-09-03 15:17] cassioac opened #4 "Ansible related questions"
Hi, thanks for this new interface, the ruby one gave me headaches :)

I'm new to ansible and am having a hard time to understand how it works.

If I understood correctly, I have to deploy the server every time it restarts, is that correct?

If so, is there a way to deploy a server permanently, so it resists restarts?

What's the correct way to have a production server running with your software?

[2016-09-03 15:21] cassioac commented on #4
Also, is there a way to retrieve current AP configuration in RAW json format, to serve as model to others?

[2016-09-05 09:27] nemesisdesign commented on #4
This is a bug tracker and we should use it to report bugs. For future questions please use the [OpenWISP mailing list](https://groups.google.com/forum/#!forum/openwisp).

You do not have to deploy every time the server restarts. You deploy once and then upgrade periodically, if you want. The correct way to have a production server is to carefully follow all the steps provided in the README of this

[2016-09-05 09:28] #4 closed

[2017-01-27 09:12] nemesisdesign opened #5 "Add support for Fedora / RedHat / Centos"
Fedora is a popular linux distribution that is suitable to be used for hosting an openwisp2 instance.

The parts to change to add support to Fedora are the following ones:

- management of system packages: use yum module instead of apt and the names of some packages are different
- nginx configuration, path differ slightly
- supervisord configuration, a few things differ here too

[2017-02-01 04:48] zelda14 opened #6 "Add support for the upcoming Debian Stretch"
While installing **ansible-openwisp2** on **Debian Stretch RC1** I face an *uwsgi* crash as ansible fetched uwsgi 2.0.14 from the PyPi repo. The crash is related to an *OpenSSL 1.1* incompatibility.

However while digging and experimenting, Debian successfully installed uwsgi from its own repo.
In order to have a functionnal installation I modified the file :

`/etc/ansible/roles/openwisp.openwisp

[2017-02-14 13:33] nemesisdesign opened #7 "Add support for letsencrypt SSL"
By automating the creation and update of a letsencrypt SSL certificate we can offer a secure default installation.

[2017-02-15 16:22] #7 closed

[2017-02-16 08:52] nemesisdesign commented on #6
More info supplied on the [mailing list](https://groups.google.com/d/msg/openwisp/ggPqa9e1PVQ/MkBczcH8EAAJ):

I've updated my configuration and got some issues I solved, here is my feedback on the upcoming Debian stretch.

**1**: no issue while running:  ansible-galaxy install --force openwisp.openwisp2

**2**: Python 2 and Python 3 are installed on my system.

when running:

    ansible-playbook

[2017-03-12 11:21] ritwickdsouza commented on #6
Working on it now.

[2017-03-17 09:39] moonwolf-github commented on #5
And CentOS7/RHEL7 support is also missing.

[2017-03-17 12:11] moonwolf-github commented on #5
I think i did it. It's not yet flawlessly nor pretty (it's my first contact with ansible and yaml) but looks like it works...

[2017-03-20 19:34] nemesisdesign commented on #5
@moonwolf-github show me something and I'll try to help you out

[2017-03-20 21:07] moonwolf-github commented on #5
I've forked your repo and my work is here: https://github.com/moonwolf-github/ansible-openwisp2/tree/centos_support. AFAIR there were two main problems: during virtualenv creation one python file was missing, and i had to turn off SELinux because of Django app path (/opt/). i didn't want to mess around with file locations. Both issues are somehow fixable of course.
I'll verify this out tomorrow an

[2017-03-21 10:05] nemesisdesign commented on #5
Hi @moonwolf-github, thank you for this update.

[2017-03-21 11:46] moonwolf-github commented on #5
As i said there is a problem with virtualenv creation:
`{"cmd": "/usr/bin/virtualenv --system-site-packages -ppython3 /opt/openwisp2/env", "failed": true, "item": "pip", "msg": "stdout: Using base prefix '/usr'\nNew python executable in /opt/openwisp2/env/bin/python3\nAlso creating executable in /opt/openwisp2/env/bin/python\nERROR: The executable /opt/openwisp2/env/bin/python3 is not functioning\

[2017-03-21 13:42] nemesisdesign commented on #5
I think upgrading virtualenv could be an acceptable solution.

Yes, let's keep the system python as you suggested, installing a different python version may lead to unexpected issues.

If you want to learn ansible, I suggest you "Ansible for DevOps", is a short good book I've read that gives you an excellent overview.

[2017-03-21 14:29] nemesisdesign opened #9 "Possible issue with Ubuntu 16"
See [this thread on the mailing list](https://groups.google.com/d/msg/openwisp/Lmkmhp46mA8/h72YNEj4BAAJ).

[2017-03-21 16:31] nemesisdesign commented on #9
Should be fixed by 	54a4911.

[2017-03-21 16:31] #9 closed

[2017-03-21 16:54] Germano0 commented on #5
I attach a translation of packages names from Debian to Fedora
[code]

[2017-03-22 11:25] nemesisdesign commented on #5
Also supervisord conf files should be stored in a slightly different dir

[2017-04-09 20:28] #6 closed

[2017-04-09 20:34] nemesisdesign commented on #6
@zelda14 I've just released [version 0.6.2](https://github.com/openwisp/ansible-openwisp2/releases/tag/0.6.2) of this role, which adds supports to debian 9 stretch thanks to @ritwickdsouza's patch (#10).

Thank you both for contributing with feedback and patches.

[2017-04-10 15:59] nemesisdesign commented on #5
Done. Thank you all @moonwolf-github @Germano0 @evgeni

[2017-04-10 15:59] #5 closed

[2017-04-27 04:40] netminion opened #12 "nginx spdy"
i think the nginx spdy module is replaced by httpd2. But HTTP/2 needs OpenSSL 1.0.2+ and most distributions deliver older OpenSSL Versions.

https://www.nginx.com/blog/supporting-http2-google-chrome-users/

[2017-04-27 08:47] nemesisdesign commented on #12
Hi @netminion and welcome,

on Debian 8:

[code]

I think Debian 9 has a more recent version, @ritwickdsouza recently added support for Debian 9 via #10, so maybe we could test this feature there.

Ideally we should support both options so users using older OS can use SPDY if they like, while users using newer OS can use HTTP2.

Adding support should be pretty easy, it's just a matter of adding a

[2017-04-27 15:59] netminion commented on #12
Hi @nemesisdesign
i created the pullrequest #13

My personal opinion is to set the openwisp2_nginx_spdy variable to false because you get an error on a default CentOS7 setup (maybe others distributions too). I set http2 to false because most OpenSSL Version are a little bit outdated and don't support ALPN.

[2017-04-27 17:50] nemesisdesign commented on #12
@netminion Yes you are right. I've introduced the change in 6745aaa

[2017-04-27 17:57] #12 closed

[2017-05-17 10:02] nemesisdesign opened #15 "[docs] Improve ansible installation guide"
Many users have troubles installing ansible via pip because they miss several dependencies:

- cryptography (python) and its system dependencies
- git

[2017-05-26 08:11] nemesisdesign opened #16 "[docs] Add a note for postfix localhost issue"
I think it's appropiate to add a note in the install instructions which warn about this issue with postfix:

https://groups.google.com/d/msg/openwisp/SeBTNkZbxDs/2peMEzzNCAAJ

So users can avoid it.

[2017-05-30 08:48] nemesisdesign opened #17 "[feature] Add optional network-topology module"
When the first release of [openwisp-network-topology](https://github.com/openwisp/openwisp-network-topolgy) is ready, add a way to install, configure and upgrade the module.

@rohithasrk will help me implementing this feature. @leonardomaccari and @mikysal78 are also interested in using this feature.

It would be great to figure out a general way to extend ansible-openwisp2 with additional roles,

[2017-06-30 04:53] rohithasrk commented on #17
@nemesisdesign Would like to work. How do I proceed?

[2017-06-30 08:27] nemesisdesign commented on #17
Setup a test environment, you need a VM or an lxc which you can destroy and recreate to test the playbook. I suggest you to create a fresh VM/lxc, set up the basics (like update system packages and setup internet connection) and then create a template/snapshot from it that you can use to re-create the test instance when you destroy it.

Clone this repo and create a symbolic link from `/etc/ansible

[2017-07-03 12:08] hscadore opened #18 "[feature] Add possibility to restrict access to admin to specified ip ranges"
Sometimes admins don't need or prefer not to have access to the management console of a controller from an untrusted network, although they will still want clients to connect to the controller and get configurations from these same untrusted netwoks. I suggest a role variable which would enable admins to restrict access to the management console allowing only computers from trusted networks to do

[2017-07-11 16:20] nemesisdesign commented on #17
Implemented by #19, closing this. Thanks to @rohithasrk! 👍

[2017-07-11 16:20] #17 closed

[2017-07-12 10:29] nemesisdesign opened #20 "[network-topology] Add cron to run `update_topology` command"
#19 introduced the openwisp-network-topology module developed by @rohithasrk but we forgot to add the cronjob to run `./manage.py update_topology` which is needed to automatically update the topologies using the FETCH strategy every `x` minutes.

When `openwisp2_network_topology` is set to `true` we should add a cron that runs the `update_topology` command, eg:

[code]

In order to control the cro

[2017-07-16 19:23] rohithasrk commented on #20
This shall be added once the PRs in **django-netjsongraph** and **openwisp-network-topology** are merged.

[2017-07-20 10:40] nemesisdesign commented on #18
Some instructions regarding how to implement this have been written here:
https://groups.google.com/d/msg/openwisp/0IHj9TQjegk/yThGaxNoBgAJ

[2017-07-24 09:43] nemesisdesign commented on #20
Closed by #21

[2017-07-24 09:43] #20 closed

[2017-08-07 17:19] #18 closed

[2017-08-07 17:20] nemesisdesign commented on #18
@hscadore implemented in 4272db8

[2017-08-08 10:48] #16 closed

[2017-08-08 11:18] #15 closed

[2017-08-15 12:02] rohithasrk opened #22 "[network-topology] Add a cron to run save_snapshot command"
A cron to run save_snapshot command. This issue can be referenced after merging https://github.com/openwisp/openwisp-network-topology/pull/17.

[2017-08-22 15:30] nemesisdesign opened #24 "[django] Automatically add the clearsessions command to crontab"
We should automatically add `./manage.py clearsessions` in a daily cronjob.

[2017-08-26 17:24] nemesisdesign opened #25 "[pip] Add a way to specify a different source for each openwisp2 module"
It would be useful to add a way to specify a different branch or repository for each module in order to test new features that are being developed in separate branches or in other repositories.

[2017-08-26 19:12] nemesisdesign commented on #22
closed by #23

[2017-08-26 19:12] #22 closed

[2017-10-14 18:04] nemesisdesign commented on #25
![](https://github.trello.services/images/mini-trello-icon.png) [[ansible-openwisp2] Add a way to specify a different source for each openwisp2 module](https://trello.com/c/K0vKueVo/2-ansible-openwisp2-add-a-way-to-specify-a-different-source-for-each-openwisp2-module)

[2017-10-14 18:05] nemesisdesign commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [sdas](https://trello.com/c/oSJvdrd5/3-sdas)

[2017-10-17 08:17] nemesisdesign opened #26 "Build NetJSON layer2 network graph using LLDP"

[2017-10-17 08:17] nemesisdesign opened #27 "[django-netjsonconfig] Device context"
┆Attachments: <a href="https:&#x2F;&#x2F;github.com&#x2F;openwisp&#x2F;django-netjsonconfig&#x2F;issues&#x2F;21">#21 [idea] Device context</a>

[2017-10-17 08:17] nemesisdesign opened #28 "[ansible-openwisp2] Add a way to specify a different source for each openwisp2 module"
https://github.com/openwisp/ansible-openwisp2/issues/25

┆Attachments: <a href="https:&#x2F;&#x2F;github.com&#x2F;openwisp&#x2F;ansible-openwisp2&#x2F;issues&#x2F;25">ansible-openwisp2 #25 [pip] Add a way to specify a different source for each openwisp2 module</a>

[2017-10-17 08:17] nemesisdesign opened #29 "[gis] Geographic & indoor location module"
https://github.com/openwisp/openwisp-controller/tree/gis

┆Attachments: <a href="https:&#x2F;&#x2F;github.com&#x2F;openwisp&#x2F;openwisp-controller&#x2F;tree&#x2F;gis">gis</a>

[2017-10-17 08:17] nemesisdesign opened #30 "[openwisp-config] Automatic naming of specific sections"
┆Attachments: <a href="https:&#x2F;&#x2F;github.com&#x2F;openwisp&#x2F;openwisp-config&#x2F;issues&#x2F;38">openwisp-config #38 Automatic naming of specific sections</a>

[2017-10-17 08:17] nemesisdesign commented on #27
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 08:17] nemesisdesign commented on #28
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 08:17] nemesisdesign commented on #29
➤ Rohith ASRK commented:

Will check it out @federicocapoano1 :D

[2017-10-17 08:17] nemesisdesign opened #31 "[ansible-openwisp2] Automatically add the clearsessions command to crontab"
┆Attachments: <a href="https:&#x2F;&#x2F;github.com&#x2F;openwisp&#x2F;ansible-openwisp2&#x2F;issues&#x2F;24">ansible-openwisp2 #24 [django] Automatically add the clearsessions command to crontab</a>

[2017-10-17 08:17] nemesisdesign commented on #26
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 08:17] nemesisdesign commented on #29
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 08:17] nemesisdesign commented on #30
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 08:17] nemesisdesign commented on #28
The contributors most likely able to help are:

@nemesisdesign

[2017-10-17 08:17] nemesisdesign commented on #26
The contributors most likely able to help are:

@nemesisdesign

Possible duplicate or related issues are:

- #29: [gis] Geographic & indoor location module
- #28: [ansible-openwisp2] Add a way to specify a different source for each openwisp2 module

[2017-10-17 08:17] nemesisdesign commented on #27
The contributors most likely able to help are:

@nemesisdesign

[2017-10-17 08:17] nemesisdesign commented on #31
The contributors most likely able to help are:

@nemesisdesign

[2017-10-17 08:17] nemesisdesign commented on #29
The contributors most likely able to help are:

@nemesisdesign

Possible duplicate or related issues are:

- #27: [django-netjsonconfig] Device context
- #26: Build NetJSON layer2 network graph using LLDP

[2017-10-17 08:17] nemesisdesign commented on #30
The contributors most likely able to help are:

@nemesisdesign

[2017-10-17 09:45] #26 closed

[2017-10-17 09:45] #27 closed

[2017-10-17 09:45] #28 closed

[2017-10-17 09:45] #29 closed

[2017-10-17 09:45] #30 closed

[2017-10-17 09:45] #31 closed

[2017-10-18 14:21] nemesisdesign commented on #24
➤ pratyaksh commented:

Hello

[2017-10-18 14:31] nemesisdesign commented on #24
➤ GASTON CHE commented:

hello, Just joined the board

[2017-10-18 14:36] nemesisdesign opened #32 "test"

[2017-10-18 14:36] nemesisdesign opened #33 "test2"

[2017-10-18 14:48] #32 closed

[2017-10-18 14:48] #33 closed

[2017-11-02 09:42] bong1991 opened #34 "nginx/openwisp binds to localhost and is not accessible from the device"
Hey,

I set up my local PC and the device as described in the Readme in section "Install OpenWISP2 locally (laptop, desktop pc)".
However, binding the ansible via the playbook to the localhost makes it accessible from your own PC but does not expose the ansible instance to other devices.

I fixed this by making the following changes to the playbook:

[code]

Maybe change the Readme accordingly?

[2017-11-02 09:42] nemesisdesign commented on #34
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @nemesisdesign.

[2017-11-03 08:15] bong1991 commented on #34
And i just saw that i forgot to mention, that the call
ansible-playbook -i "localhost," --connection=local playbook.yml has to be changed to.
Instead of calling it with localhost, you have to set your IP here:
ansible-playbook -i "<IP-ADDRESS of PC>," --connection=local playbook.yml

There has to be the same entry as in the playbook.

[2017-11-03 08:27] nemesisdesign commented on #34
thanks for the clarification @bong1991. I will leave this issue open for the google code-in program so we can [train young people to contribute to openwisp](https://codein.withgoogle.com/organizations/openwisp/)!

[2017-11-03 17:06] amitkumarj441 opened #36 "Add a Dockerfile to build from source"
- Create a dockerfile

[2017-11-03 17:06] nemesisdesign commented on #36
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @nemesisdesign.

[2017-11-03 18:22] nemesisdesign commented on #36
@amitkumarj441 since this is an ansible role and not an application, this issue is not suited for this repository.

[2017-11-03 18:22] #36 closed

[2017-11-07 16:24] nemesisdesign opened #37 "Automatically configure DEFAULT_FROM_EMAIL"
Avoid email being sent as "webmaster@localhost".

The setting should have a good default value but also be customizable.

[2017-11-16 11:05] nemesisdesign opened #39 "Invalid"
Invalid

[2017-11-16 11:07] R9295 commented on #39
Yeah I'll take a look at it

[2017-11-16 11:28] R9295 commented on #39
@nemesisdesign yeah, your proposed solution works

[2017-11-17 20:53] nemesisdesign opened #40 "[uwsgi] Add uid option"
Add `uid=www-data`, ensuring dirs on which uwsgi has to write are writable.

[2017-11-17 21:05] xamfy commented on #40
Can I try?

[2017-11-17 21:08] nemesisdesign commented on #40
@xamfy sure, would be a good way to warm up with ansible.

This is the file: https://github.com/openwisp/ansible-openwisp2/blob/master/templates/uwsgi.ini.j2
The problem is that permissions must be set correctly, probably www-data must own the dir in which the process writes, most likely openwisp2_path and openwisp2_path/log, but I'm going from memory.

Ensure to test the change before sending the

[2017-11-18 19:04] xamfy commented on #39
@R9295 are you still working on this?

[2017-11-21 05:15] R9295 commented on #39
@xamfy  this is gonna be GCI task.

[2017-11-21 08:11] xamfy commented on #39
@R9295 oh, I see

[2017-11-21 08:53] nemesisdesign opened #42 "[install] Show admin password warning only when superuser is first created"
The message added in #35 now is always shown, also on subsequent upgrades.

It would be better to show this message only when the superuser is created, [we have a variable we can use for this](https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/django.yml#L108).

so it would be just a matter of adding something like this to the debug msg:

[code]

[2017-11-21 08:53] nemesisdesign commented on #42
[GitMate.io](https://gitmate.io) thinks a possibly duplicate or related issue is #39: [install] Show admin password warning only when superuser is first created.

[2017-11-21 08:54] #39 closed

[2017-11-21 13:07] xamfy commented on #40
Please close this issue, I addressed the wrong one in my PR.

[2017-11-21 13:21] nemesisdesign commented on #40
AHAH lol

[2017-11-21 13:21] #40 closed

[2017-11-29 10:05] #25 closed

[2017-11-29 17:20] #42 closed

[2017-11-30 15:04] R9295 commented on #37
What could be a good default value? "admin@examle.com"?

[2017-11-30 15:13] nemesisdesign commented on #37
something like `openwisp2@{{ inventory_hostname }}`, but I don't know what would happen in case `{{ inventory_hostname }}` would be an ip address.

We should add this new variable to the list of available variables but I think we should also highly suggest to set it manually in the playbook by updating our examples in the README to mention this.

Why we need to do this? Because as soon as people s

[2017-11-30 16:24] R9295 commented on #37
What could be a good way to explain it in the README? I'm thinking something along these lines:
"It is recommend that you change the value of this variable if you intend to use OpenWISP2 in production, as a misconfiguration  may result in emails not being sent "

[2017-12-01 08:31] nemesisdesign commented on #37
Yes that's fine, I think I also replied via chat so you should be ready to go, we'll improve during the review also so don't worry.

[2017-12-02 16:16] #37 closed

[2017-12-03 17:01] nemesisdesign opened #49 "[pip] Avoid installing more recent versions of package unintentionally"
I realized only now that with https://github.com/openwisp/ansible-openwisp2/commit/3151bd0e87211e7a7340158eefa80f50d388a803 we run the risk of installing more versions of dependencies that are not compatible with **openwisp-controller** unintentionally.

Suppose we release a new major version of one of the dependencies which is out of the range specified in the requirements of openwisp-controller,

[2017-12-03 17:01] nemesisdesign commented on #49
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-09 18:37] nemesisdesign opened #51 "[docs] Local installation for testing"
I think it would be better to replace the section named "Install OpenWISP2 locally (laptop, desktop pc)" with a section that explains how to install OpenWISP 2 in a virtualbox VM, the same task we have asked GCI students to perform and for which they encountered all the same issues.

We can use their experience to prepare a step by step tutorial for this case that would probably work better than t

[2017-12-09 18:37] nemesisdesign commented on #51
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-11 09:41] #49 closed

[2017-12-17 17:44] nemesisdesign opened #57 "[postfix] Stouts.postfix"
One patch still needs to be sent: https://github.com/nemesisdesign/Stouts.postfix/commit/3c42624da203e6f92cf340d8b828f0ec6feef181

Change the dependencies in meta/main.yml to use the latest [Stouts.postfix role](https://github.com/Stouts/Stouts.postfix) (instead of my fork, my patches have been merged months ago), remove my fork, install the main Stouts.postfix role in the local environment and te

[2017-12-17 17:44] nemesisdesign commented on #57
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-18 18:59] h0n3yc4k3 opened #58 "Ideas for improving documentation"
1) Create a database of error's (maybe in wiki?)
For example I (and HizkiFW) had this problem:

2) Is working `ansible-playbook -i hosts playbook.yml -u <user> -k --become -K` command? (bcs I used *root* all the time)
3) Swap "Install OpenWISP2 locally" and steps (like "Install ansible") place
4) Add subtitles for video's of installing/using openwisp
5) And maybe record new videos about openwisp

[2017-12-18 18:59] nemesisdesign commented on #58
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-18 19:07] h0n3yc4k3 commented on #58
I try to be a contributor. And wrote 2 issues (use *root* user directly for better installation and second with `the role 'openwisp.openwisp2' was not found in` that I and HizkiFW had)

[2017-12-18 19:55] nemesisdesign commented on #58
@h0n3yc4k3 that was an automated message, don't worry, thanks for reporting

[2017-12-18 20:31] h0n3yc4k3 commented on #58
@nemesisdesign
Ok. But what you think about that ideas? (I have a task for improving documentation :D)

[2017-12-19 12:07] HizkiFW opened #59 "Improving the install instructions"
I think the following passages are a bit ambiguous/hard to understand, and could be improved.

This section does not explain that ansible is going to *install openwisp2 on the production server*. It also needs to make it clear that the local machine is going to be installing openwisp2 on the production server by controlling it via ssh.

Using `sudo` to install the openwisp2 role messed with some o

[2017-12-19 12:07] nemesisdesign commented on #59
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-20 06:19] h0n3yc4k3 commented on #59
Yes, I think too that **sudo** cause error in `sudo ansible-galaxy install openwisp.openwisp2` command

[2017-12-20 11:13] nemesisdesign opened #61 "[python3] Drop supports for platforms that do not offer python 3.5 by default"
Django 2.0 officially suggests to use python 3.5 or higher.

OpenWISP will soon be python 3 only.

[2017-12-20 11:13] nemesisdesign commented on #61
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-20 11:33] nemesisdesign commented on #57
Sent patch: https://github.com/Stouts/Stouts.postfix/pull/24, wait for merge and then we can switch to the official role.

[2017-12-21 12:19] sils opened #62 "GitMate Labelled Closed Issues Tonight"
Hi everyone :)

TLDR: [GitMate.io](https://gitmate.io) acted on closed issues (and PRs) unneededly tonight, likely on your repo. The issue is fixed now and we're improving QA. More info at https://gitlab.com/gitmate/open-source/gitmate-2/issues/275.

You're getting this email because you have been affected by a bug in GitMate.io this night and you're using the feature that was buggy.

In short: Gi

[2017-12-21 12:20] nemesisdesign commented on #62
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-21 15:51] #59 closed

[2017-12-21 16:00] nemesisdesign commented on #58
1. we can make a FAQ section
2. I don't understand
3. I don't understand
4. good idea but the videos need to be updated so it's not the good time to do this
5. that's a good idea but we'll have to be more specific to create GCI tasks

[2017-12-21 16:08] h0n3yc4k3 commented on #58
1. In wiki? Because later may be so much text in readme
2. On my little experience for some reason privileges escalation doesn't work (I always usr *root* user for installing). It's only mine problem?
3. I think architecture should be in the end. And first should be installation guide
4. Ok
5. Ok

[2017-12-28 10:58] HizkiFW opened #63 "Ansible openwisp2 install fails on migration"
Installing locally fails on `TASK [openwisp.openwisp2 : migrate]`, outputting the following error:

[code]

It seems to be a problem with spatialite.

[2017-12-28 10:58] nemesisdesign commented on #63
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-28 22:57] nemesisdesign opened #64 "[nginx] Add support for gzip"
We need these options to be added to nginx:

[code]

They need to be configurable (so it can be also turned off and details may be changed.

I think we can use this chance to add a generic mechanism to add configuration variable to nginx (which will contain the default gzip values too), eg:

[code]

The variables of openwisp2_nginx_ssl_config will be added only to the `:443` section of the nginx c

[2017-12-29 16:43] #34 closed

[2017-12-29 18:35] #63 closed

[2018-01-02 11:07] nemesisdesign opened #68 "[install] Current release fails on some systems"
The current release fails on older systems (eg: ubuntu 14 LTS, debian 8), while it seems the latest commit fixes the issues but breaks installation on newer systems (ubuntu 16 LTS).

We need to solve this asap.

[2018-01-03 17:18] nemesisdesign opened #69 "[django] Add support for CORS (Cross-Origin Resource Sharing)"
We need to make it possible to enable CORS because [other applications may need to access some APIs to get data](https://lists.funkfeuer.at/pipermail/interop-dev/2017-December/000732.html).

We can use this module: [django-cors-headers](https://pypi.python.org/pypi/django-cors-headers/2.1.0) - which is configurable via django settings, we have to make sure we can configure every available setting

[2018-01-04 03:41] UtkarshVerma commented on #68
Using your commit on the ansible galaxy role files fixed the issue for both, Ubuntu 14.04 and 16.04
openwisp/ansible-openwisp2@4cf5834

[2018-01-04 03:42] UtkarshVerma commented on #68
I have currently made the changes to my forked repo:
github.com/UtkarshVerma/ansible-openwisp2

[2018-01-06 06:40] UtkarshVerma commented on #68
I was able to run the current release without any errors on my VMs. They were, Ubuntu Server 14.04 and Ubuntu Server 16.04.
The version of ansible which I installed was 2.4.2.0. Instead of using `ansible-galaxy install openwisp.openwisp2` I had used `ansible-galaxy install git+https//github.com/openwisp/ansible-openwisp2` to get the latest commits too.

[2018-01-06 19:19] UtkarshVerma commented on #51
Did it. Here's the link to the PR: https://github.com/openwisp/ansible-openwisp2/pull/70

[2018-01-07 09:48] saurabhchakrabarti opened #71 "Ansible install does not work"
I've started evaluating this project once again after a long break. I'm getting the following error when I try to deploy using ansible

[code]

Things work when I replace import_tasks with include.

ansible version - 2.3.1.0
Ubuntu 16.04.2 LTS

[2018-01-07 09:54] UtkarshVerma commented on #71
Seems to be a bug with with your ansible version.  Try installing the latest version and then there shouldn't be any issue.

[2018-01-07 10:41] saurabhchakrabarti commented on #71
Which version are you using?

[2018-01-07 10:55] UtkarshVerma commented on #71
v2.4.2.0 . Install it by referring to the docs [here](http://docs.ansible.com/ansible/latest/intro_installation.html)

[2018-01-07 11:07] saurabhchakrabarti commented on #71
I'll need to verify this. If that's the problem,  the documentation needs to be changed, since the ansible minimum version mentioned is 2.2

[2018-01-07 12:28] UtkarshVerma commented on #71
Yeah, great point. Originally the repo files had the keyword `include` but due to deprecation messages, they have been updated to `import_tasks` leaving the minimum ansible requirement behind. It's clearly stated [here](https://docs.ansible.com/ansible/2.4/import_tasks_module.html) that `import_tasks` is a new keyword in ansible 2.4

[2018-01-07 12:28] UtkarshVerma commented on #71
Edit the readme and create the pull request

[2018-01-08 09:34] UtkarshVerma commented on #51
#70

[2018-01-08 17:01] nemesisdesign commented on #71
@UtkarshVerma thx for helping out! :+1:

[2018-01-10 08:22] #71 closed

[2018-01-10 08:29] #51 closed

[2018-01-10 13:46] nemesisdesign commented on #68
Should be fixed.

[2018-01-10 13:46] #68 closed

[2018-01-10 19:59] nemesisdesign commented on #64
Implemented in #67

[2018-01-10 19:59] #64 closed

[2018-01-15 16:47] UtkarshVerma opened #74 "Issues with Host-only Adapter"
The host only-adapter is causing issues with internet connectivity on my VM and hence ansible can't download packages.

This issue is regarding the VM installation instructions.

[2018-01-16 03:39] UtkarshVerma commented on #69
Would a prompt at playbook runtime be better for configuring CORS? Or should I just create a global modifiable ansible dictionary variable?

[2018-01-16 09:11] nemesisdesign commented on #69
let's keep it simple now, a dictionary is cool. I think @R9295 is working on this, are you Aarnav?

[2018-01-16 09:14] nemesisdesign commented on #74
Can you try this?

https://askubuntu.com/questions/293816/in-virtualbox-how-do-i-set-up-host-only-virtual-machines-that-can-access-the-in

[2018-01-16 10:11] UtkarshVerma commented on #69
Ok, got it.

[2018-01-16 11:26] R9295 commented on #69
Yes, I am.

[2018-01-17 14:41] UtkarshVerma opened #76 "Issues with Stouts.postfix"
The postfix role fails if the apt cache on production server isn't up to date. We can fix this by doing the APT cache update task before it.

[2018-01-17 15:35] UtkarshVerma commented on #76
The fix is to add the following statements in the playbook to do the apt update before postfix role is executed:
[code]

[2018-01-17 15:36] UtkarshVerma commented on #76
I have only faced this issue in Ubuntu till now, Ubuntu Server *Trusty* to be specific. Similar fixes can be applied to other OSes.

[2018-02-27 20:54] jdeluyck opened #77 "Ansible install fails in migrate on Debian Buster and Ubuntu 18"
Installation in Debian Buster (aka testing) fails on the migrate step. Not entirely sure why.
Running in x86_64.

[code]

[2018-02-28 08:25] nemesisdesign commented on #77
`mod_spatialite: cannot open shared object file: No such file or director`

This version of debian likely requires a different setting for this.

[2018-03-05 20:43] ankitkataria commented on #61
@nemesisdesign i have been reading about ansible roles, can i take up this issue?

[2018-03-05 20:52] nemesisdesign commented on #61
@ankitkataria sure!
Remember to perform this task only if [openwisp2_python](https://github.com/openwisp/ansible-openwisp2/blob/master/defaults/main.yml#L1) variable contains the string `python3`.
 eg: `when: 'python3' in openwisp2_python`

[2018-03-07 12:57] ankitkataria commented on #61
@nemesisdesign https://www.python.org/ftp/python/ this url has all the python versions, they can be simply installed on any linux distribution. is it even necessary to check if an update to python3.5 or 3.6 is available in the packages? Why not simply download and install 3.6 from the above link is openwisp2_python is set to python3?

[2018-03-07 14:08] nemesisdesign commented on #61
@ankitkataria how would you install it? Does it have to be compiled? Not sure it would work well (without introducing other issues) but we can try.
If it needs to be compiled I want us to use [checkinstall](https://debian-administration.org/article/147/Installing_packages_from_source_code_with_checkinstall) which gives the possibility of uninstalling the package if needed.

We should not do this b

[2018-03-09 12:37] nemesisdesign opened #78 "[django] Load templates with django.template.loaders.cached.Loader"
A small optimization that's easy to add: https://docs.djangoproject.com/en/1.10/ref/templates/api/#django.template.loaders.cached.Loader

[2018-03-09 14:16] ankitkataria commented on #78
:smile: I'll have work on this as soon as I'm finished working on the previous bug.

[2018-03-19 14:31] ankitkataria commented on #78
@nemesisdesign
- tried solving the issue, I'm still unsure of how i should go about testing my changes, should i run the playbook that the readme asks us to create while setting up the project on a vm again and again as i make the changes?
- Also I wanted to discuss the details of the project `Ansible plugin for netjsonconfig library`, discuss about the deliverables and some possible approaches, h

[2018-04-01 06:31] Yasen6275 opened #81 "Missing headers when instaling on arbian based on debian strech"
Tried to install controller on SBC with armbian based on Debian Strech and got veeery long error.

The major clue in it was:
"   The headers or library files could not be found for jpeg,
  a required dependency when compiling Pillow from source."
After installing libjpeg-dev, instalation went smoothly

[2018-04-17 01:34] ankitkataria commented on #61
@nemesisdesign thankyou for having a look at my PRs :smile: I'm a little busy with my exams right now and make a new PR as soon as they are over. Thanks again.

[2018-04-18 19:34] hispanico opened #83 "Ansible install fails in migrate on Ubuntu 14.04"
Ansible failed in Ubuntu 14.04 on the migrate task.
See https://travis-ci.org/hispanico/ansible-openwisp2/jobs/368290716

[2018-05-02 05:43] #74 closed

[2018-05-04 13:18] skydiablo commented on #77
same on clean install of ubuntu 18.04 server

[2018-05-04 13:31] nemesisdesign opened #84 "[ci] Avoid duplication of basic running test"
These lines seem duplicated:

- https://github.com/openwisp/ansible-openwisp2/blob/master/.travis.yml#L31
- https://github.com/openwisp/ansible-openwisp2/blob/master/.gitlab-ci.yml#L16-L19

Maybe we can extract those lines in a script that gets called by both CI systems

[2018-05-04 14:42] nemesisdesign commented on #77
These distributions are new and not yet supported. If you need support for these distros please send a patch, our CI scripts will test your patch to ensure it doesn't break the current existing functionality.

[2018-06-17 08:51] nemesisdesign opened #85 "[django] Internal server error / permission denied"
I've noticed a periodic internal server error on some instances.

At first sight it seems that some processes crash and exit because they can't write to logs for permission reasons. It seems the permission of some logs change from `www-data` to `root` at some point. Further investigation is needed.

[2018-08-27 15:40] hispanico opened #86 "Deprecation Warning in openwisp.openwisp2 set_fact task"
TASK [openwisp.openwisp2 : set_fact] *******************************************
[DEPRECATION WARNING]: Using tests as filters is deprecated. Instead of using
result|failed use result is failed. This feature will be removed in version
 2.9. Deprecation warnings can be disabled by setting
deprecation_warnings=False in ansible.cfg.

[2018-08-30 13:05] Doralitze commented on #77
I don't have time to write a fix for the ansible target. But in order to get a working installation (without tampering with the ansible role) one needs to do the following:
``cd /usr/lib/x86_64-linux-gnu``
``sudo ln mod_spatialite.so mod_spatialite``

In order to fix it properly the content of
``/opt/openwisp2/openwisp2/settings.py`` would be required to be altered from `SPATIALITE_LIBRARY_PATH =

[2018-08-31 15:06] nemesisdesign commented on #77
thanks for pointing that out @Doralitze

[2018-08-31 20:18] atb00ker commented on #77
You can change the `openwisp2_spatialite_path` value in `playbook.yml` to solve it. :smile:
Example:
[code]

[2018-09-01 07:58] nemesisdesign commented on #77
@atb00ker thanks for pointing us a workaround!

The solution could be using `set_fact` in combination with `when`, setting `mod_spatialite.so` when the distribution is ubuntu 18 or debian buster

[2018-09-01 11:57] atb00ker commented on #83
[Commenting for someone who reaches this issues by googling the error]
As a temporary fix, typing the following commands on the server as root should fix the error.
[code]
After that, run `playbook.yml` again.

[2018-09-04 18:12] hispanico opened #89 "Gitlab.com CI integration"
Configure gitlab-ci.yml to using gitlab.com CI

[2018-09-05 07:44] #77 closed

[2018-09-05 07:49] nemesisdesign commented on #77
@jdeluyck @skydiablo @Doralitze should be fixed now, thanks to @atb00ker!

[2018-09-05 09:58] nemesisdesign opened #91 "[qa] Add ansible linter to build"
Galaxy [complains a lot during import time](https://galaxy.ansible.com/my-imports?repository_name=openwisp2&selected=282340&page_size=10).

It's probably time to introduce some automated quality checking tool which will help to keep the ansible code up to date with current best practices.

A possible solution would be to use this linter:

- https://github.com/willthames/ansible-lint

[2018-09-07 10:20] atb00ker opened #92 "[docs] Include documentation for developer setup"
Setup process for development is not mentioned in README
The process is as follows:
1. [Create playbook.yml](https://github.com/openwisp/ansible-openwisp2#create-playbook-file)
2. Create a directory `roles/`
3. Inside `roles/`, clone `ansible-openwisp2` and [`Shouts.postfix`](https://github.com/nemesisdesign/Stouts.postfix):
[code]
4. [Run the playbook](https://github.com/openwisp/ansible-openwisp

[2018-09-07 11:40] nemesisdesign commented on #92
I use a different approach, I link the github repos to `~/.ansible/roles`. Some research should be done if there's a standard way to do this.

[2018-09-08 13:57] atb00ker opened #93 "Fails on Fedora 28"
Setup Fails on Fedora 28;
Fail log:
[code]

[2018-09-08 15:24] atb00ker opened #94 "[bug] Server Error (500) on Fedora Systems"
On fedora systems after installation, Server Error (500) is received when admin tries to login.

**Steps to reproduce**:
1. Run anisble-openwisp2
2. After completion open browser and login with username & password `admin` on `/admin`.

[2018-09-08 15:26] atb00ker commented on #94
**Reason**:
`redis-server` is not running. Hence `Error 111 connecting to localhost:6379` is causing the server error.

**Temporary workaround (for while a patch is made)**:
Run the following command on the server:
[code]

[2018-09-12 08:18] atb00ker commented on #92
I found the method i used from [ansible docs](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_reuse_roles.html#using-roles).
It doesn't mention any standard about the folder before `roles/`.

[2018-09-14 12:16] nemesisdesign commented on #92
At least we should make sure that when cloning `ansible-openwisp2`, we give it the same name it has on galaxy, eg:

[code]

This way we can have:

[code]

Which is identical to what's already documented and hence simpler to maintain, explain and support.

[2018-09-14 13:12] nemesisdesign commented on #83
I'd drop support for Ubuntu 14 and close this issue.
According to the meta we don't support this distro:
https://github.com/openwisp/ansible-openwisp2/blob/master/meta/main.yml

@hispanico @atb00ker are you ok with closing this? I'd focus our energies to other things.

[2018-09-14 13:13] nemesisdesign commented on #58
Closing. Suggestion for future issues: Issues need to be more specific so they're easier to act upon and fix or close.

[2018-09-14 13:13] #58 closed

[2018-09-14 13:16] nemesisdesign commented on #81
@Yasen6275 Thanks for reporting, are you talking about "Armbian"?

[2018-09-14 13:20] hispanico commented on #83
Totally agree, ubuntu 14.04 will be out of support next april as well.

[2018-09-14 13:35] nemesisdesign opened #95 "Remove automatic organization creation in favour of data migration"
Some lines in [load_initial_data.py](https://github.com/openwisp/ansible-openwisp2/blob/master/templates/load_initial_data.py#L24-L38) can be removed once both of the following issues are resolved and both packages have been released on pypi:

- https://github.com/openwisp/openwisp-users/issues/29
- https://github.com/openwisp/openwisp-controller/issues/39

[2018-09-15 09:05] nemesisdesign opened #96 "[pip] Bind openwisp-controller and openwisp-network-topology versions"
Right now, when no custom repositories are defined (eg: in `openwisp2_controller_pip`), the role will install the latest version of the `openwisp-controller' and `openwisp-network-topology` packages available on pypi (and their dependencies).

It would be clearer to explicitly state the version in [defaults/main.yml](https://github.com/openwisp/ansible-openwisp2/blob/master/defaults/main.yml) and

[2018-09-19 14:28] bankimr opened #97 "Adding user giving Server Error (500)"
Hello I am getting error with new openwisp2 controller. please let me know how I can download old version

[2018-09-19 14:59] nemesisdesign commented on #97
@bankimr please post the contents of your `playbook.yml` file and the contents of the log file of openwisp.

[2018-09-20 12:47] bankimr commented on #97
hello sir, my above problem is solved after change in playbook.yml but, I want to know how I can check my current openwisp2 controller version and also how I can installed any old version if I don't want to upgrade new version.

[2018-09-20 14:18] bankimr commented on #97
hello sir,

After explicitly mentioned above changes for previous version I am getting below error after run playbook.yml, please look into it and let me know solution to overcome from it.

"fatal: [49.213.32.2]: FAILED! => {"changed": false, "cmd": "./manage.py migrate --noinput", "msg": "\n:stderr: Traceback (most recent call last):\n  File \"/opt/openwisp2/env/lib/python3.5/site-packages/django

[2018-09-20 14:20] nemesisdesign commented on #97
If you don't poste the contents of `playbook.yml` I can't help you.

I would prefer if you used the support channels to get support because your case is a support request and not a bug that needs to be tracked in the bug tracker. Thank you

[2018-09-20 14:32] bankimr opened #98 "please find problem in my playbook,yml for older version of openwisp controller as 0.2.3"
- hosts: openwisp2
  become: "{{ become | default('yes') }}"
  roles:
    - openwisp.openwisp2
  vars:
    postfix_myhostname: "strix-Sun-Fire-X4100-Server"
    openwisp2_network_topology: true
    openwisp2_controller_pip: openwisp-controller==0.2.3
    openwisp2_python: python2.7
    openwisp2_default_from_email: "******"

[2018-09-20 15:04] nemesisdesign commented on #98
Please read here: http://openwisp.org/support.html
I suggest to send an email to the list explaining in detail what happened and posting your configuration.
We need more context to help you. But please don't use the bug tracker for problems that are not bugs.

[2018-09-20 15:04] #98 closed

[2018-09-27 13:11] hispanico opened #99 "Fails on Debian 10"
Task "[openwisp.openwisp2 : migrate]" fails on Debian 10:
https://gitlab.com/openwisp/ansible-openwisp2/-/jobs/102246224

[2018-09-27 16:38] #89 closed

[2018-09-30 12:15] nemesisdesign commented on #99
@hispanico don't forget to add this kind of issues to the contributor's board by selecting the board from `Projects` in the right column here >>>

[2018-10-10 09:50] imp1sh commented on #94
CentOS 7 also suffers from this bug. The workaround works though.

[2018-10-18 16:36] nemesisdesign opened #102 "[docs] Document software and hardware requirements"
Questions like the following are recurrent:

- are there any packages I should pre-install prior to running the Ansible playbook?
- Are there any configuration steps I should perform on the server prior to running the playbook to ensure a clean install?
- what are the Hardware recommendations?

[2018-10-19 07:10] atb00ker opened #103 "[bug] Travis not working for pull requests"
Unfortunately currently, travis is only checking the `openwisp/ansible-openwisp2/master`.
This is a problem because pull requests are not checked before being merged.

A dynamic way to check the current source & branch is required. Currently, [source & branch are hard-coded](https://github.com/openwisp/ansible-openwisp2/blob/ebec17fec8bfdb2cdd0abdbc81bc0163dc349fde/tests/requirements.yml#L3-L5).

[2018-10-19 07:13] atb00ker commented on #103
Currently, changing [this line](https://github.com/openwisp/ansible-openwisp2/blob/ebec17fec8bfdb2cdd0abdbc81bc0163dc349fde/tests/test.yml#L21)  to `role_under_test` is working for me.

[2018-10-19 12:39] atb00ker opened #104 "[bug] fails on rhel7"
**Distribution information:**
NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.5 (Maipo)"

**Error:**
[code]

[2018-10-19 17:56] #84 closed

[2018-10-21 09:53] nemesisdesign commented on #103
@hispanico is there any way with which we can tell travis/gitlab to use the current cloned repository code?

With the current state of things we can't check whether a pull request contains bugs or not because the build will always test the official master branch of ansible-openwisp2.

[2018-10-21 14:13] #103 closed

[2018-10-21 16:10] nemesisdesign opened #108 "[tests] Improve output of runtests.sh"
**Reserved for GCI**

The output generated by the script in `tests/runtests.sh` can be improved:

- the `-x` option of bash in the beginning of the script is not necessary, we can remove it
- we should add a description of what is about to happen before each test, eg: `echo "Testing web server..."` and `echo "Launching openwisp tests with django"`

[2018-10-21 17:28] #94 closed

[2018-10-22 12:27] hispanico opened #109 "[test] remove "sudo" in runtests.sh"
Using sudo into test scripts caused a failure in gitlab-ci pipeline:

[code]

[2018-10-22 20:46] hispanico commented on #108
We should add a color definition and replace echo with printf like the following:

[code]

[2018-10-24 12:25] MDenti79 opened #112 "Fail installing role openwisp.openwisp2"
Following the guide sending the command:
sudo ansible-galaxy install openwisp.openwisp2  -vvv --force
i'm getting this error:

ansible-galaxy 2.7.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/marco/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable locatio

[2018-10-24 15:59] atb00ker commented on #112
Hi @MDenti79 ,

Thanks for reporting this, can please also let me know your distro? It will help me reproduce this error so that i can look into it.

Thanks! :smile:

[2018-10-24 16:23] MDenti79 commented on #112
Hi @atb00ker ,
Now I'm using a clean installation of Ubuntu 16.04.5 LTS Desktop 64 bit.
I have also tried with Ubuntu 18.04.1 LTS and get same issue.
Thankyou

[2018-10-26 15:11] hispanico commented on #91
I've found info about the lint in ansible galaxy:
https://robertdebock.nl/blog.html
https://github.com/ansible/galaxy-lint-rules

[2018-10-26 16:08] nemesisdesign commented on #91
@hispanico great! Did we already publish a GCI task for this?

[2018-10-26 16:15] hispanico commented on #91
I think so, there is one tasks about ansoble-lint

[2018-10-26 18:28] nemesisdesign commented on #112
@MDenti79 that's strange, which part of the guide are you following exactly?
Could you share the `playbook.yml` and the commands you are running?

[2018-10-27 15:14] #86 closed

[2018-11-04 16:03] nemesisdesign commented on #93
Does it still fail? If yes @atb00ker can you create a GCI task for this please? And If not close please.

[2018-11-04 16:04] nemesisdesign commented on #99
Does it still fail? If yes @hispanico can you create a GCI task for this please? And If not close please?
PS: if you manage to create the GCI task, add me and @atb00ker as mentors as well please.

[2018-11-04 16:12] nemesisdesign commented on #112
Closing for inactivity.

[2018-11-04 16:12] #112 closed

[2018-11-04 16:13] nemesisdesign commented on #104
Does it still fail? If yes @atb00ker can you create a GCI task for this please? And If not close please?
PS: if you manage to create the GCI task, add me and @hispanico as mentors as well please.

[2018-11-05 08:07] hispanico commented on #99
In the latest pipeline the build for Debian10 succeeded.
https://gitlab.com/openwisp/ansible-openwisp2/-/jobs/113424380

[2018-11-05 08:07] #99 closed

[2018-11-05 08:11] atb00ker commented on #99
@hispanico @nemesisdesign
However, Debian 10 still needs to be removed from allowed_failure list!
Should i add a GCI task for that?

[2018-11-05 13:32] #92 closed

[2018-11-06 13:33] #108 closed

[2018-11-08 15:29] dwang opened #132 "[admin] Changing default admin email address causes database to be locked"
Adding an email address of the default admin account times out (stuck loading) for me. My reverse proxy for OpenWISP reports a 502 Bad Gateway. But once I reload the page and try to do it again, it does not time out, but it returns Server Error (500). Any subsequent operation relating to the database (adding a new device) shows the 500 error as well.

Here is what I'm trying to do:
<img width="535

[2018-11-09 14:32] Scorpion2185 commented on #6
Deploying on debian 9 i get an error:
`fatal: [Existing.server.ip]: FAILED! => {"changed": false, "msg": "No package matching 'python-software-properties' is available"}`
Is there a solution?

[2018-11-09 14:44] xmaysonnave commented on #6
It sounds a collapse between python2 and python3. The default on debian9 is
python 2.7 I guess you need a python3.X.
Try:
https://linuxconfig.org/how-to-change-default-python-version-on-debian-9-stretch-linux
Cheers
Xavier

On Fri, 9 Nov 2018, 20:02 Scorpion2185 <notifications@github.com wrote:

[2018-11-09 18:05] Scorpion2185 commented on #6
@xmaysonnave  only the python on the Existing server matters right?
I tried with 3.5 (and again 2.7) but nothing.

[2018-11-18 13:16] atb00ker commented on #104
@nemesisdesign
I also tested it with rhel6, it's failing for the same reason!

I ran this on my system. It looks like an error with `TASK [Stouts.postfix : Install requirements (RedHat)` and not `ansible-openwisp2`.

[2018-11-18 13:19] nemesisdesign commented on #104
If that's the case, this issue is related to https://github.com/openwisp/ansible-openwisp2/issues/57, I'd like to remove the dependency on my fork but I'm not sure if we can do this now.

[2018-12-02 14:31] marfgold1 opened #118 "[qa] Add commit message style check"
Added commit message style check

[2018-12-04 09:36] #118 closed

[2018-12-09 21:36] 1871vinayak commented on #93
I'll take this issue 👍

[2018-12-15 14:42] #93 closed

[2019-01-01 18:07] atb00ker commented on #85
I think it's because of that redis-server not starting problem. (which has been fixed)
Since we have added a [subset of tests](https://github.com/openwisp/ansible-openwisp2/blob/master/tests/runtests.sh) to the to avoid it. Is there anything else that we can do here? :smile:
Thanks.

[2019-01-01 18:15] atb00ker commented on #102
@nemesisdesign
I recently tried to install openwisp2 in an empty container and realized that `systemd` is a requirement for postfix to restart in the debian systems, should that be documented?
Thanks

[2019-01-02 19:49] atb00ker opened #126 "deprecation warning in Install extra python"
- TASK [openwisp.openwisp2 : Install extra python packages] ******************************************************************************
[DEPRECATION WARNING]: Invoking "pip" only once while using a loop via squash_actions is deprecated. Instead of using a loop to supply
multiple items and specifying `name: "{{ item }}"`, please use `name: '{{ openwisp2_extra_python_packages }}'` and remove the

[2019-01-03 07:20] atb00ker opened #127 "[meta/main.yml] platforms supported is outdated"
Platforms supported lists trusty, which doesn't work anymore.
Moreover, some new platforms are added, platform tag needs to be updated as per travis jobs.

[2019-01-04 07:03] Dhiraj240 commented on #127
can i be assigned this issue ? also can you give example of new platforms which are added in it.

[2019-01-04 13:23] atb00ker commented on #127
Yes, you can start working on this issue. :smile:
Find about the platforms here: https://travis-ci.org/openwisp/ansible-openwisp2

[2019-01-04 17:52] Dhiraj240 commented on #127
as per travis under build system  trusty is present
[code]
Also i could see only linux
[code]
Correct me if i have left something.

[2019-01-05 08:33] atb00ker commented on #127
No, you are looking at the builder's information.
Here is the build matrix from `.travis.yml`:
[code]

[2019-01-05 12:46] Dhiraj240 commented on #127
Oh, alright.

[2019-01-17 14:09] ankit-kumar-dwivedi commented on #95
@nemesisdesign I see the both issues mentioned are resolved can this be assign me this one? :smile:

[2019-01-17 14:32] ankit-kumar-dwivedi commented on #95
Okay @nemesisdesig this can be start for me getting familiar with codebase, will look for slightly difficult issue next time

[2019-01-18 17:25] nemesisdesign commented on #102
@atb00ker isn't that detail handled by ansible? Or do we have some systemd specific directive in our role?

[2019-01-18 17:39] nemesisdesign commented on #61
@atb00ker is python3 available on Fedora / EL/ Centos?

[2019-01-18 17:41] nemesisdesign opened #129 "[ci] Fix failing travis build on debian 10"
The [travis build is failing on debian 10](https://travis-ci.org/openwisp/ansible-openwisp2/jobs/481321499) for some really weird reason:

[code]

[2019-01-19 04:48] dwang commented on #129
It looks like this issue is related to [this](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=911090) bug in Debian.

@atb00ker did some testing and found out that the container needed to be upgraded, which makes sense, now that the bug is closed.

I applied the band-aid fix [here](https://github.com/openwisp/ansible-openwisp2/pull/120/files#diff-5b529e01c11b423d5e6d96ccf1feccdfR63), but it does

[2019-01-19 17:50] atb00ker commented on #61
`debian8` doesn't have required python3 version available & the community has closed that issue as `wontfix`.
`centos7` doesn't have python3 installed by default, it can be installed but the process is not through `yum`, rather 3rd party solution so possibly some organization's policies might not allow it.
All `fedora >=26` support python3. :smile:

[2019-01-20 14:43] nemesisdesign opened #130 "[django] Update sentry configuration"
Update the sentry configuration to use the latest configuration method (drop `raven` and use `sentry_sdk`).

- configuration for django: https://docs.sentry.io/platforms/python/django/
- configuration for celery worker (will be needed with [connections module of openwisp-controller](https://github.com/openwisp/openwisp-controller/pull/31): https://docs.sentry.io/platforms/python/celery/

[2019-01-21 22:42] nemesisdesign commented on #61
So in order to migrate to python 3.5 by default we have to remove support for debian8, centos7 and any fedora that is lower than 26, right? We could use this issue to track this change.
I don't think it's a good idea to try installing python 3.5 / 3.6 via ansible.

[2019-01-21 23:00] nemesisdesign commented on #129
@dwang @hispanico is this change fine?
https://gitlab.com/ninuxorg/docker/ansible-debian/merge_requests/4

[2019-01-22 19:03] atb00ker commented on #61
@nemesisdesign

No, No, correction!
I mentioned the distros that have python3 available through default package manager and default sources list.

I'll check the distros with python3 as default python version and get back here, asap! :smile:

[2019-01-23 08:30] hispanico commented on #129
I've just accepted the merge request.

[2019-02-01 00:53] #127 closed

[2019-02-01 01:04] nemesisdesign commented on #61
@atb00ker thanks a lot for your research!

PS: on the django mailing list there's a discussion about dropping support for python 3.5 in django 3.0, it seems django 3.0 may be only >= python 3.6.

Stuff is moving quite fast nowadays!

[2019-02-01 01:04] nemesisdesign commented on #102
@atb00ker you're right, it was probably a workaround I added a while ago, can you create an issue for that please?

[2019-02-01 08:49] atb00ker opened #131 "[bug] run handler to reload systemd only when system is installed"
`reload systemd` handler will fail the role when system is not running on systemd.
Running that handler only when `systemd` is installed should solve the problem.

[2019-02-01 08:51] atb00ker commented on #102
Done that! :smile:

[2019-02-01 15:34] nemesisdesign commented on #131
Maybe this is not needed anymore or there's a better way to do it: https://github.com/openwisp/ansible-openwisp2/blob/master/handlers/main.yml#L5-L7

[2019-02-09 02:32] #91 closed

[2019-02-12 13:27] nemesisdesign commented on #132
I transferred the issue to the `ansible-openwisp2` repo. This is most probably related to the fact that django cannot send emails because something with Postfix is broken. The role should install a postfix instance which should be able to send emails, but it seems something is wrong with that.

[2019-02-23 04:13] dwang commented on #129
I think this issue can be closed now.

[2019-03-04 17:54] nemesisdesign opened #135 "[nginx] Add a default SSL webserver which returns 404"
We should add an additional nginx webserver which acts as a default for SSL and catches all requests that would trigger "HOST not allowed" error in django.

Something like this should do:

[code]

[2019-03-07 17:21] dwang commented on #135
I'm interested in implementing this.

If I understand correctly, any SSL connection to the server that is not to a host defined in `openwisp2_allowed_hosts` should have the connection closed. But, I don't understand why there should not be a matching configuration that is listening on port 80.

[2019-03-10 18:37] nemesisdesign commented on #135
@dwang we need port 80 too, I updated the example

[2019-03-21 08:34] haccks opened #136 "Redis server installation failed error"
I am struggling to deploy openwisp2 on production server. I followed instructions over [here](https://github.com/openwisp/ansible-openwisp2#usage-tutorial) but every time  I am getting this error:

fatal: [test.adl-icm.com]: FAILED! => {"cache_update_time": 1553151222, "cache_updated": false, "changed": false, "msg": "'/usr/bin/apt-get -y -o \"Dpkg::Options::=--force-confdef\" -o \"Dpkg::Options::

[2019-03-21 08:38] atb00ker commented on #136
Hi,

Please share information about your server including:
1. Which distribution are you running.
2. Do you have any other application installed or are you trying to install openwisp on a fresh image?

Thanks.

[2019-03-21 08:43] haccks commented on #136
Hi @atb00ker,
1. I am using Ubuntu 18.04
2. It's a fresh image.
3. Here is the output:

[code]

[2019-03-21 09:21] atb00ker commented on #136
Okay,
Our CI for fresh image of Ubuntu 18.04 reports it's working fine. [Check [here](https://travis-ci.org/openwisp/ansible-openwisp2/jobs/508897903)]

Can you please try manually installing `redis-server` and then running the ansible script?
Please let me know if you face an error while manual installation or if works out! :smile:

[2019-03-21 11:07] haccks commented on #136
I installed redis server manually and now I am getting this error:

`fatal: [test.adl-icm.com]: FAILED! => {"changed": false, "msg": "Unable to start service redis-server: Job for redis-server.service failed because a timeout was exceeded.\nSee \"systemctl status redis-server.service\" and \"journalctl -xe\" for details.\n"}`

[2019-03-22 16:48] atb00ker commented on #136
Maybe restarting manually and checking what's going on in the server and causing the failure will help. `journalctl -xe` might also give clues.

A quick shortcut *may* be to comment out the handler that restarts the redis-server (Easy job if you have worked with Ansible) !

[2019-03-27 15:20] dwang commented on #135
@nemesisdesign If I'm not mistaken, the new example will try to serve files in `/var/www/html` (but there should not be any except the default Nginx page?) before returning a 404. Should the Nginx server return 404 or 444?

[2019-03-27 15:56] nemesisdesign commented on #135
I changed my mind after doing some testing, I would use `404`, I updated the title, thanks for pointing it out

[2019-04-12 10:35] okraits commented on #126
It also appears with `apt` in `Stouts.postfix`.

[2019-05-24 10:04] moonwolf-github opened #141 "Upgrade fails on CentOS7"
Came back after a long time and upgrade fails with:
`fatal: [openwisp2]: FAILED! => {"changed": false, "cmd": "./manage.py migrate --noinput", "msg": "\n:stderr: Traceback (most recent call last):\n  File \"./manage.py\", line 10, in <module>\n    execute_from_command_line(sys.argv)\n  File \"/opt/openwisp2/env/lib/python3.4/site-packages/django/core/management/__init__.py\", line 371, in execute_

[2019-06-12 20:37] #135 closed

[2019-08-24 20:38] mikysal78 opened #143 "Errore task "openwisp.openwisp2 : migrate"
Debian 9 netinstall con solo abilitato ipv6 (openwisp2.nnxx.ninux.org).
Il playbook lanciato è quello presente nel git di ninux senza monitoring (è su un repo privato).
Il playbook non installa service_identity ed ho dovuto installarlo manualmente.
pip install service_identity

il playbook: https://pastebin.com/NRChdDnb

L'errore: https://pastebin.com/mV6DTfw8

[2019-11-04 22:51] jarkle opened #145 "Issue installing openwisp2"
Running command:
 ansible-playbook -i hosts playbook.yml -u root -k --become -K

Getting this error:
TASK [openwisp.openwisp2 : set redis to listen on ipv4 (RedHat & CentOS)] *************************************************************************************************************************************************************************************************************
fatal: [openwisp2]:

[2019-11-04 23:13] atb00ker commented on #145
Support for centos is temprarorily dropped on our end.
However, it looks like ansible issue, I read "Module Failure", please share the version of ansible and OS you are installing on.

[2019-11-05 00:19] jarkle commented on #145
Fedora Server 30
On client pc, ansible 2.8.6

[2019-11-06 19:50] jarkle commented on #145
Should I try using a different OS for the client machine?

[2019-11-07 07:08] atb00ker commented on #145
Yes, that'll be ideal. I think Ubuntu 18.04 or Debian 9 or 10 should work fine. (Tested on these recently)
 Fedora / CentOS / RHEL family currently has issues unfortunately so we have removed their support from docs as well!

[2019-11-07 07:10] #145 closed

[2019-11-07 07:16] atb00ker commented on #141
Hi,

Currently we have temprarorily dropped Fedora / CentOS / RHEL. It has maintenance issues right now.
Eventually, hopefully we will get back to it however, right now, you may use Ubuntu 18.04 or Debian 9 or 10 should work fine on these!

If you think there is something to be added in this comment chain, please feel free to open this issue again. :smile:

[2019-11-07 07:16] #141 closed

[2019-11-12 06:56] TheOneAboveAllTitan opened #148 "Documentation for adding Host-only Network Adapter"
In the README, the path for adding Host-only Network Adapter is `File > Preferences > Network > Host-only Networks` while I installed `Oracle VM VirtualBox VM Selector v6.0.14_Ubuntu` on Pop OS and the path is `File > Host Network Manager`.

The same is also mentioned in changelogs of `VirtualBox 5.2.0 (released October 17, 2017)` available at [https://www.virtualbox.org/wiki/Changelog-5.2](https:

[2019-11-15 13:12] atb00ker commented on #148
They keep changing it!
Can I please use this for GCI? :smile:

[2019-11-17 22:47] TheOneAboveAllTitan commented on #148
Yeah, sure! @atb00ker

[2019-11-29 17:30] #129 closed

[2019-11-29 17:31] #126 closed

[2019-12-10 22:03] atb00ker opened #152 "[docs] document steps to run the travis test docker images on workbench"
Documentation of the steps to run a travis docker images on locally is required.
To document these steps, read the `.travis.yml` file and the `tests/runtests.sh` file.

[2019-12-13 10:46] nemesisdesign commented on #132
I think this PR may have fixed this issue: https://github.com/openwisp/openwisp-users/pull/74

We need to test that openwisp-user version and try replicating the issue again to see if it still happens.

[2019-12-13 17:09] nemesisdesign commented on #136
The current builds in the latest dev versions do not show this issue, hence I think it's solved and I'm closing. If anyone is still seeing this issue with the latest master of this role let us know.

[2019-12-13 17:09] #136 closed

[2019-12-13 17:11] nemesisdesign opened #153 "[controller] Add support for connections module (celery)"
We need to add support for the connections module and celery.

This implies requiring openwisp-controller 0.4.0 minimum.

[2019-12-19 10:22] #152 closed

[2019-12-19 12:30] #148 closed

[2019-12-20 16:52] #131 closed

[2020-01-08 11:16] atb00ker opened #159 "[travis] Idempotence test fails randomly at times"
You can see, that `runtests.sh` [here](https://travis-ci.org/openwisp/ansible-openwisp2/jobs/633900953#L1581) is failing on `Idempotence test`, although on other distors in the same build it works ok (and those failing distros aren't the same every build). You can see this behavior in the master branch as well:
- [c38b8fd](https://travis-ci.org/openwisp/ansible-openwisp2/builds/626669311?utm_sourc

[2020-01-09 12:24] nemesisdesign commented on #159
@atb00ker can we have the idempotence test fail with more detailed information?

[2020-01-09 20:26] nemesisdesign commented on #153
Here's some information that should be useful to implement it.

Settings changes examples (can be re-adapted, I'm copypasting):

[code]

Placing celery files:
[code]

templates/celery.j2

[code]

files/celery_init.py

[code]

files/celery.py

[code]

[2020-01-11 04:10] atb00ker commented on #159
Currently, I just found out that "Install openwisp2 controller and its dependencies" is failing.
I'll have to research to see if an option like `verbose` is available! :smile:

[2020-01-11 19:00] dwang commented on #159
I've seen this recently too. Have there been any changes to cause the failure or is it just Travis being weird?

[2020-01-13 18:53] #95 closed

[2020-01-17 12:48] atb00ker commented on #159
@dwang I am not certain, but I think it may be related to the fact that we have not released `openwisp-controller` in a while, now that it's released, let's see if it happens again, please ping here if you notice it again! :smile:

[2020-01-17 12:50] nemesisdesign commented on #159
It happens a lot. I changed the build so it doesn't fail because of that because that's been slowing us down a lot.
I'd keep this open to see if anyone can find the reason for which the playbook is not idempotent some of the time.

[2020-01-17 17:50] #153 closed

[2020-01-20 23:02] mikysal78 opened #163 "export and import config server"
For migrate server config on other hw?
It's possible export config server, device etc... and import?
Thanks.

[2020-02-06 04:20] nickberry17 opened #166 "500 error when adding user - default ansible install"
Just finished installing via [ansible](https://github.com/openwisp/ansible-openwisp2) on a fresh Ubuntu 18.04.3 droplet.  Getting **Server Error (500)** when trying to add a user.  I had to run the playbook twice to get it to finish cleanly, once before rebooting and once after.  I then rebooted again after the ansible playbook finished and was able to log in to the web interface.  I am trying to

[2020-02-06 05:29] nickberry17 opened #164 "Ansible playbook fails"
Getting a fatal error when trying to use the below playbook

Error
[code]

playbook.yml

[code]

[2020-02-06 18:41] nemesisdesign commented on #164
Solution in #165, not fully ready but will fix your issue.

[2020-02-06 20:25] nemesisdesign commented on #166
Sorry you're experiencing that, I think this PR will fix it: https://github.com/openwisp/ansible-openwisp2/pull/165

[2020-02-06 20:26] nickberry17 commented on #164
OK, will try it.  Is it enough to just cherry-pick that one then re-run the playbook?

[2020-02-06 22:08] nickberry17 commented on #166
Trying again on a fresh droplet after cherry-picking 9bf390ef98a93f808c31ba855ef86893c70638fc Didn't work after re-running it on the old droplet.  I also tried removing the admin references from urls.py, but that did not work.  I was getting 502 when trying to add the user.

[2020-02-06 22:29] nickberry17 commented on #166
[daphne.log](https://github.com/openwisp/ansible-openwisp2/files/4168033/daphne.log)
[nginx.access.log](https://github.com/openwisp/ansible-openwisp2/files/4168034/nginx.access.log)
[nginx.error.log](https://github.com/openwisp/ansible-openwisp2/files/4168035/nginx.error.log)
[runworker.log](https://github.com/openwisp/ansible-openwisp2/files/4168036/runworker.log)
[uwsgi.log](https://github.com/o

[2020-02-07 09:17] nemesisdesign commented on #166
use that branch, post the final part of the logs directly here please.

[2020-02-09 23:42] nickberry17 commented on #166
Same issue using the daphne branch

daphne.log
[code]

nginx_error.log
`2020/02/09 23:37:40 [error] 14935#14935: *10 upstream prematurely closed connection while reading response header from upstream, client: 49.197.53.161, server: redacted.redacted.com.au, request: "POST /admin/openwisp_users/user/add/ HTTP/1.1", upstream: "uwsgi://127.0.0.1:3031", host: "redacted.redacted.com.au", referrer: "htt

[2020-02-10 05:16] nickberry17 commented on #166
I am trying different tags now in the ansible repository.  I used to have a working openwisp installation about a year ago just by following the instructions so it can't be that many releases ago that it broke.

[2020-02-10 10:15] atb00ker commented on #166
Hi,

Yes, It's a very recent issue, work on it has started on this branch :
https://github.com/openwisp/ansible-openwisp2/tree/daphne . I am able to
directly clone this branch and add `--fd 0` in
`templates/supervisor/daphne.j2`'s "command" like:
[code]

Please let me know if that works for you as well!

On Mon, Feb 10, 2020 at 10:46 AM nickberry17 <notifications@github.com>
wrote:

--
Best,
Ajay

[2020-02-10 22:34] nickberry17 commented on #166
Hi, thanks for the suggestion.  I checked out the daphne branch, added `--fd 0` as shown and ran the playbook on a fresh Ubuntu 18.04.3 droplet.  Unfortunately, still getting error 502 when trying to add a user.  This time `/opt/openwisp2/log/daphne.log` is empty.

[2020-02-10 22:56] atb00ker commented on #166
Great. The daphne problem is solved! :-)
I am 99% sure that the add user problem has something to do with postfix
configuration, like correct email address etc but I don't know much about
that one. :-(

On Tue, 11 Feb, 2020, 4:04 am nickberry17, <notifications@github.com> wrote:

[2020-02-11 00:57] nickberry17 commented on #166
That would seem likely, because I cannot even edit the admin email address.

[2020-02-11 03:10] nickberry17 commented on #102
https://github.com/openwisp/ansible-openwisp2/pull/167/commits/aca6f0832f2ec8af5a912d27a9da7cb18c1912a0

[2020-02-11 21:47] atb00ker commented on #166
[code]

[2020-02-12 13:16] atb00ker commented on #166
^ The error I have send above doesn't seem to be the problem in the release.
I was testing another branch while that happened but I just tested `daphne` and it's not the error, however, I see:

/var/log/mail.err
[code]

/var/log/mail.log
[code]

Which is likely the source of the problem, back to postfix! :smile:

[2020-02-12 13:19] atb00ker commented on #163
Hi,

This looks like a support ticket not a bug.
This is our bug tracker.
Please use https://groups.google.com/forum/#!forum/openwisp for support.

Best,
Ajay Tripathi

[2020-02-12 13:28] atb00ker commented on #163
Your data is inside database (postgres) & your media (floor plan images etc) is in `/opt/openwisp2/media` that's all you need to backup! :smile:

[2020-02-12 13:28] #163 closed

[2020-02-12 13:33] atb00ker commented on #143
Google translate:
[code]

Thanks for the information: `service_identity` has been added [here](https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/pip.yml#L58).

Hopefully when the release is fixed this will be fixed as well, I'll test and close it! :smile:

[2020-02-19 01:23] #102 closed

[2020-02-19 01:38] nemesisdesign commented on #164
Merged it should have been fixed, please test it and if it's not fixed send a report and reopen.

[2020-02-19 01:38] #164 closed

[2020-02-19 01:38] nemesisdesign commented on #166
Please test again with the latest master.

[2020-02-19 03:13] nickberry17 commented on #166
Still exhibiting the same problem when trying to add a user

[2020-02-23 17:10] nemesisdesign commented on #96
This has been implemented.

[2020-02-23 17:10] #96 closed

[2020-02-23 17:21] #81 closed

[2020-02-23 17:22] #104 closed

[2020-02-26 16:14] nemesisdesign commented on #143
Should be fixed!

[2020-02-26 16:14] #143 closed

[2020-02-26 16:15] nemesisdesign commented on #61
I think this can be closed because we now support only recent distros.

[2020-02-26 16:15] #61 closed

[2020-02-29 01:26] nemesisdesign opened #169 "Fix debian9 and ubuntu16"
Debian 9 and Ubuntu 16 have python 3.5 by default but we need them to have at least python 3.6.

[2020-02-29 19:10] nemesisdesign commented on #169
At the moment the only safe solution (I mean a solution that doesn't risk to mess with the entire linux system where the application is installed) would be to compile python3.6.

I am not able to do that with the current time I have, nor I think it's a productive use of my time.

I will drop support for those distros and invite anyone that needs those distros to be supported to step in and send pa

[2020-02-29 19:44] #169 closed

[2020-02-29 20:12] nemesisdesign commented on #166
When I use vagrant-openwisp2 to bring up a virgin machine, I see this in `/var/log/mail.err`:

`fatal: in parameter smtpd_relay_restrictions or smtpd_recipient_restrictions, specify at least one working instance of: reject_unauth_destination, defer_unauth_destination, reject, defer, defer_if_permit or check_relay_domains`

[2020-02-29 20:18] nemesisdesign commented on #166
Adding this to `/etc/postfix/main.cf` fixes it:

smtpd_recipient_restrictions = permit_sasl_authenticated, permit_mynetworks, check_relay_domains, reject_unauth_destination, reject

[2020-03-02 23:01] #132 closed

[2020-03-02 23:01] #166 closed

[2020-03-02 23:01] nemesisdesign commented on #132
Should have been fixed by https://github.com/openwisp/ansible-openwisp2/pull/172. Would be helpful if anyone affected by this bug would help us to test and report.

[2020-03-02 23:02] nemesisdesign commented on #166
Should have been fixed by https://github.com/openwisp/ansible-openwisp2/pull/172. Would be helpful if anyone affected by this bug would help us to test and report.

[2020-03-02 23:02] nemesisdesign commented on #57
Not needed anymore.

[2020-03-02 23:02] #57 closed

[2020-03-03 01:57] nickberry17 commented on #166
Is this in a release yet, or do we need to pull ansible master?

[2020-03-03 02:42] nickberry17 commented on #166
It's still giving me a 502 error when trying to add a user.

[2020-03-04 16:40] nemesisdesign commented on #166
I think it's happening because of this: https://github.com/openwisp/ansible-openwisp2/commit/56cd213c985460376cb7cd88955fdefeca80dee6#diff-9b4ddf055111f4371f04fbb8b5366655R4

I changed one of the dependencies to get the latest version of the dependent role, but ansible doesn't upgrade the role installed on your system automatically.

Try deleting the role ansible-openwisp2 and Stouts.postfix from

[2020-03-09 00:19] nickberry17 commented on #166
Getting this on Ubuntu 18.04 after making sure Stouts.postfix is the one being used: `No package matching 'mailutils' is available`

[2020-03-09 00:22] nickberry17 commented on #166
Getting this on Ubuntu 18.04 after making sure Stouts.postfix is the one being used:
`failed: [testmgmt.com.au] (item=['postfix', 'ca-certificates', 'mailutils']) => {"ansible_loop_var": "item", "changed": false, "item": ["postfix", "ca-certificates", "mailutils"], "msg": "No package matching 'mailutils' is available"}`

[2020-03-09 03:01] nemesisdesign commented on #166
Thanks for reporting.

Ubuntu 16 is not supported anymore in the latest release.

On Ubuntu 18 the continuous integration testing build was passing but I deleted the entire cache and restarted it to see if the problem appears: some times cached packages cause these errors to not be spotted, let's see, here's the link to the build: https://travis-ci.org/openwisp/ansible-openwisp2/jobs/659831677.

I

[2020-03-09 03:05] nickberry17 commented on #166
Thanks for looking into it.  I used a freshly built Digital Ocean droplet of 18.04 64 bit.  I also deleted the Stouts.postfix folders from ~/.ansible/roles on my local machine then reinstalled it with `ansible-galaxy install Stouts.postfix`

[2020-03-09 03:39] nickberry17 commented on #166
Running an `apt update` on the target machine before executing the playbook got things moving

[2020-03-09 04:06] nemesisdesign commented on #166
how are you launching the playbook?

It should be something like (replace `<your_user>` with your actual linux user or the default `ubuntu` user if you're using that one):

[code]

[2020-03-09 04:15] nickberry17 commented on #166
trying it now by adding `-u root`

[2020-03-09 04:31] nickberry17 commented on #166
It installed correctly but I still get the same 502 Bad Gateway error when trying to add a user.

[2020-03-11 02:58] nemesisdesign commented on #166
@nickberry17 sorry you're experiencing all this trouble.

I cannot reproduce the issue nor on Ubuntu 18 nor on Debian 10.
Can you share the contents of `/etc/postfix/main.cf`

PS: in production, in most cases, you want to use an external SMTP. A common configuration I use for companies which use internal SMTP relays is the following:

[code]

If you don't have a relay but need to authenticate with

[2020-04-15 07:57] jon-wrennall opened #176 "Fatal error on 'Install cryptography from pip' - cffi version exception"
trying to install on Raspberry Pi running Ubuntu 18.04.4 LTS with all updates/upgrades applied

Notice initial warnings about
TASK [Stouts.postfix : Install requirements (Debian)] *******************************************************************************************************************************************************************
[DEPRECATION WARNING]: Invoking "apt" only once while us

[2020-04-15 19:27] nemesisdesign commented on #176
Seems a not unusual system issue: https://stackoverflow.com/questions/43325110/exception-version-mismatchcffi.

It's not showing up in brand new ubuntu VMs though, since this role is being tested automatically on travis on Ubuntu 18, hence you have to fix this manually, I suggest trying as suggested in the link above.

[2020-04-15 19:27] nemesisdesign commented on #176
I'm closing since it shouldn't be a bug (because it doesn't show up in the automated build) but you can keep asking questions if you need.

[2020-04-15 19:27] #176 closed

[2020-04-15 19:29] nemesisdesign commented on #176
PS: if you need help you can also look here: http://openwisp.org/support.html

[2020-04-18 11:43] atb00ker opened #177 "[bug] Install fail on debian 10"
A user reported on Gitter channel that installing on debian 10 cases an issue:
[code]

Need to verify and fix it. :smile:

[2020-04-30 17:42] kanthans opened #178 "Installation failure on Ubuntu 18.04"
Hi
Installed on Ubuntu 18.04 server, fresh installation. However the ansible script failed with the following error.

fatal: [openwisp.sbalab.com]: FAILED! => {"changed": false, "cmd": "./manage.py migrate --noinput", "msg": "\n:stderr: Traceback (most recent call last):\n  File \"./manage.py\", line 10, in <module>\n    execute_from_command_line(sys.argv)\n  File \"/opt/openwisp2/env/lib/python3.

[2020-04-30 17:47] kanthans commented on #178
Found the issue to be attrs version. Manually upgraded the attrs version in the python environment using pip3 install --upgrade attrs from 17.4.0 to 19.3.0. Then ran the ansible script from the ansible system. The installation completed successfully.

We got the login page but unable to login with admin/admin.

Verified the /opt/openwisp2/log/openwisp2.log file. It showed unable to write to the db

[2020-05-01 01:19] nemesisdesign commented on #178
Thanks a lot for reporting @kanthans.
The problem with the attrs python package should not happen, I got a similar report just recently.
I will re-open the issue, I think we can get the ansible role to upgrade the package.
It's a shame that the travis build is not catching this issue.

[2020-05-01 18:11] nemesisdesign commented on #178
@kanthans it was reported to me that the user who was having the same problem as you solved by forcing the ansible python interpreter to be python3 (on some system python2.7 may be used by default).
I thought by default python3 would be used. If that's the case we'd have to point this in the README.
If you could try and let me know it would be helpful, thanks.

[2020-05-02 05:34] kanthans commented on #178
1. Installed fresh installation of Ubuntu server 18.04, set python3 as the default using
`update-alternatives --install /usr/bin/python python /usr/bin/python3`
2. Ran the ansible script  and faced the same issue
3. Verified default python version in ubuntu, it is python3
4. Before running the script, the system did not had python2, however after running the script it had python2.7, which I think

[2020-05-02 14:06] nemesisdesign opened #179 "[tests] Use official images"
I suspect that the images we use for testing in the travis-ci build are not exactly identical to the official images our users download, so we cannot always replicate the same problems they have.

[2020-05-02 14:49] atb00ker commented on #179
Two immediate reasons come to mind:
1. Our images might be outdated, @hispanico https://gitlab.com/ninuxorg/docker/ansible-debian (They are one year old)
2. Here are the changes in the image that are made before testing: https://gitlab.com/ninuxorg/docker/ansible-debian/-/blob/master/Dockerfile.debian9

[2020-05-02 15:04] atb00ker commented on #178
1. You are using `Ubuntu server 18.04` but supported distro is `Ubuntu 18.04`. I am not sure if it makes a difference though -- just noted a difference.
2. Depending on your ansible version, you may need to force ansible to use python3, `ansible_python_interpreter=/usr/bin/python3`

[2020-05-02 23:48] nemesisdesign commented on #178
I have replicate the `attrs` error on vagrant-openwisp2 using ubuntu 18.

I also have created an issue regarding the fact that our automated tests are not catching these issues: https://github.com/openwisp/ansible-openwisp2/issues/179

[2020-05-02 23:51] nemesisdesign commented on #179
@atb00ker what do you think we can do? Can we use some kind of latest official docker image for the distros we support? So we get the virgin system and we run the tests on that, we'll be able to spot all these errors that now we don't catch.

[2020-05-03 01:40] nemesisdesign commented on #178
@kanthans this change fixes it: https://github.com/openwisp/ansible-openwisp2/pull/180

Please try when you can and let us know!

[2020-05-03 09:54] atb00ker commented on #179
@nemesisdesign

I think that before taking any action, it's worth investigating more into it, to specially find the reason that the mentioned error was not spotted in travis.

Certainly possible, I am not sure how to trigger the builds on Gitlab, but a trigger to rebuild images in the registry may be the key, *or* If I remember correctly, before gsoc 2019, we also discussed moving images to docker

[2020-05-04 08:59] hispanico commented on #159
ERROR: Idempotence test failed because of the following tasks:
* [instance] => openwisp.openwisp2 : create "/opt/openwisp2/log"

It seems this task cause the idempotence test failure:
[code]

[2020-05-04 09:45] hispanico commented on #179
I've create this branch to testing ansible-role with molecule.

We can use the docker images from Jeff Geerling for now: https://hub.docker.com/search?q=geerlingguy%2Fdocker&type=image

[2020-05-05 17:48] hispanico opened #182 "[DEPRECATION WARNING]: evaluating 'openwisp2_python_packages' as a bare variable"
Fix statement condition on "Install custom OpenWISP 2 Python packages" task in pip.yml:

[code]

[2020-05-06 00:06] nemesisdesign commented on #182
@hispanico thanks for bringing this up, I added it to the [Google Code-In project board](https://github.com/orgs/openwisp/projects/12#card-37651560).

[2020-05-07 01:03] #178 closed

[2020-05-07 01:13] nemesisdesign commented on #179
I hope using the docker images from geerlingguy will help.

[2020-05-07 16:05] #179 closed

[2020-05-09 10:24] atb00ker opened #184 "[gsoc2020] Merged Modules remove django-netjsonconfig"
After https://github.com/openwisp/openwisp-controller/pull/190 is merged, remove django-netjsonconfig from ansible-openwisp2.

[2020-05-28 18:59] atb00ker opened #185 "[gsoc2020] Merged Modules remove django-netjsongraph"
After https://github.com/openwisp/openwisp-network-topology/pull/63 is merged, remove django-netjsongraph from ansible-openwisp2.

[2020-06-13 01:19] nemesisdesign commented on #185
@atb00ker tip: perform a search of django-netjsongraph in the whole repo when you do this (forgive me for the obvious tip but sometimes we all forget to do these simple things)
We'll need to issue a new release of openwisp-network-topology and increase the version in this file: https://github.com/openwisp/ansible-openwisp2/blob/master/defaults/main.yml#L4

[2020-06-16 03:43] nemesisdesign opened #189 "[OS] Add support for Ubuntu 20 LTS"
Add support for Ubuntu 20 LTS.

[2020-06-21 08:49] adamnotfound opened #191 "Internal Server Error after Installation"
I had openwisp2 installed on a remote linux server, but now I'm getting Internal Server Error when I try to visit my openwisp2 domain.
I tried to do reproduce using the ansible-playbook but still getting same error.

[2020-06-21 12:22] hispanico commented on #191
Could you post the openwisp logs: /opt/openwisps2/log/*.log

[2020-06-21 18:46] nemesisdesign commented on #191
@adamnotfound try:

[code]

and let me know if it fixes it.

[2020-06-23 10:03] adamnotfound commented on #191
It doesn't fix the problem, and that's what I'm getting when I tried what you mentioned

`daphne:asgi1: stopped
daphne:asgi0: stopped
daphne:asgi2: stopped
celery: stopped
celery: started
daphne:asgi1: started
daphne:asgi0: started
daphne:asgi2: started
openwisp2: ERROR (spawn error)
`

[2020-06-23 10:03] adamnotfound commented on #191
Do you want me to post all the log files or openwisp2.log only ?

[2020-06-23 19:41] nemesisdesign commented on #191
@adamnotfound in your logs (celery and daphne) I see:

[code]

But I [can't find any occurrences of timedelta in this ansible role](https://github.com/openwisp/ansible-openwisp2/search?q=timedelta&unscoped_q=timedelta), it must be something that is added via configuration or customization.

That is surely causing an issue, although I can't be sure if that's what's blocking your application from wo

[2020-06-24 08:51] adamnotfound commented on #191
@nem

@nemesisdesign
I did supervisorctl stop all and ran ansible-playbook command again but still running in the same issue.
Is there anyway I can uninstall openwisp related dependencies and services and try to install it all again then show you the logs if the issue is still there ?

[2020-06-30 15:32] PabloCastellano opened #192 "Documentation: How to uninstall"
I followed the installation guide for testing purposes and successfully installed openwisp in my raspberry pi. Now I would like to uninstall it. How should I proceed?

So far I have:

* Remove: `/opt/openwisp2`, `/etc/supervisor`, `/etc/nginx/`
* Uninstalled: `nginx`, `postfix`, `redis-server` and `supervisor`

[2020-07-02 00:44] #185 closed

[2020-07-02 10:31] atb00ker opened #193 "[change] Improve Installation of custom modules"
For installing custom modules, the task `Install custom OpenWISP 2 Python packages` uses `--no-deps` options for [reasons mentioned in comment](https://github.com/openwisp/ansible-openwisp2/pull/188#discussion_r446474222) however, this causes [problems mentioned in the response](https://github.com/openwisp/ansible-openwisp2/pull/188#discussion_r448276422).

So, we should look ways to solve the ori

[2020-07-18 02:21] nemesisdesign opened #195 "[feature] Add openwisp-monitoring"
Blocked by https://github.com/openwisp/ansible-openwisp2/issues/214.

- add openwisp-monitoring
  - add celery beat
  - add influxdb, would be great to allow changing the default password easily by just setting it in the playbook
  - add celery task routes for the network queue (related to #242):

[code]

The module will be enabled by default, but it should be possible to disable openwisp monitori

[2020-08-04 10:07] pniaps commented on #177
The same error with a fresh install of centos 7 in a VPS

[code]

[2020-08-04 10:13] pniaps commented on #177
My fault, CentOS is not supported.

[2020-08-04 14:26] nemesisdesign commented on #177
@pniaps are you getting this problem elsewhere? If yes can you paste the contents of `/etc/issue` please?

[2020-08-04 14:29] pniaps commented on #177
No, it worked on Ubuntu 18.04

[2020-08-04 16:15] nemesisdesign commented on #177
I'm glad it worked @pniaps, it should also work on ubuntu 20 if you use this branch: https://github.com/openwisp/ansible-openwisp2/tree/ubuntu20

[2020-08-17 22:44] nemesisdesign opened #197 "[change] Add django-flat-json-widget"
`flat_json_widget` needs to be added to INSTALLED_APPS when openwisp-controller 0.8 gets released and becomes the new default.

Related to https://github.com/openwisp/openwisp-controller/pull/250.

[2020-08-17 22:46] nemesisdesign opened #198 "[feature] Add support for openwisp-radius"
We should add an optional flag to deploy openwisp-radius and freeradius.

[2020-08-17 22:48] nemesisdesign opened #199 "[feature] Add support for openwisp-firmware-upgrader"
We can install this module by default and enable its API, we can provide a variable to disable the module and another variable to disable only the API if needed.

[2020-08-19 03:36] nemesisdesign opened #200 "[feature] Automatically create default SSH credentials"
Feature needed to make push updates and firmware-upgrader work out of the box #199

If there are no other credentials generated in the system:

- Automatically generate an SSH private key / public key pair
- Create a credentials object with root and the private key created, flag it as `auto_add=True`
- Look if there is any template flagged as default which contains /etc/dropbear/authorized_keys, i

[2020-08-19 03:40] nemesisdesign opened #201 "[feature] Automatically create management VPN"
This feature can be enabled by default, users should be able to disable it with a configuration variable, we should guide users to do this choice in the beginning of the tutorial.

If enabled, we should install openvpn, we should create a VPN server object (if no VPN server object exist yet), we should place a default working configuration for a layer 3 VPN (routed), then create a VPN-client templ

[2020-08-19 03:46] nemesisdesign commented on #191
@adamnotfound sorry for the late reply, to uninstall, delete `/opt/openwisp2` and `/etc/supervisor/conf.d/*` and run the playbook again.

I'm closing this issue now, but feel free to ask more questions if you need, here or in the [support channels](http://openwisp.org/support.html).
if it's a bug we'll reopen.

[2020-08-19 03:46] #191 closed

[2020-08-24 17:51] nemesisdesign commented on #85
This problem has been showing up more and more lately, I'm not sure how to fix it.

It seems that some operations change the ownership of log files or static files to the root user, or other files, and then www-data cannot write to these files anymore.

A possible solution could be to create a dedicated linux group, add both www-data, root and any user running the playbook to it, then change the g

[2020-08-27 06:32] do0zer opened #202 "Fresh Install of OpenWisp Produces 502 error on admin page"
This problem occurs in both Debian 10 and Ubuntu 18.04

Not doing anything fancy just attempting a plain vanilla install.

Any help would be appreciated

Using a plain playbook:

- hosts: openwisp2
  become: "{{ become | default('yes') }}"
  roles:
    - openwisp.openwisp2
  vars:
    openwisp2_default_from_email: "openwisp2@openwisp2.mydomain.com"

with this in the hosts: with my url

[openwisp2]

[2020-08-27 15:38] nemesisdesign commented on #202
it may be related to this issue: https://github.com/openwisp/ansible-openwisp2/issues/85, but I'm not 100% sure.

Try the following:

[code]

[2020-08-28 01:53] do0zer commented on #202
That did not seem to resolve the problem.

Thanks for the suggestion

[2020-08-28 03:46] do0zer commented on #202
I think you gave me enough of a lead to get the problem sorted

also doing: chown www-data:www-data -R /opt/openwisp2/ has seemed to resolve my issue

Thanks for the help!

[2020-08-28 16:10] nemesisdesign commented on #202
Glad it helped. I hope we'll be able to solve this and avoid it in the first place.

[2020-08-28 16:10] #202 closed

[2020-08-30 01:02] nemesisdesign commented on #85
I found out that the daphne process was not being run as www-data but as root, which caused some of the logs to change ownership after application restart. I fixed this in 17a9099.
I think the definitive fix would include forcing the contents in `logs/` and `static/` to be owned by www-data (user and group) and have write permission both to user and group by default.

[2020-09-18 23:49] nemesisdesign opened #208 "[docs] Instructions on how to run tests outdated"
It seems the instructions on how to run tests are outdated: https://github.com/openwisp/ansible-openwisp2#how-to-run-tests.

Ideally we should have a simpler section with less steps, I hope we can do that.

[2020-09-18 23:57] nemesisdesign commented on #208
@hispanico @PabloCastellano can I ask a hint about how to update that section?

[2020-09-19 00:12] #189 closed

[2020-09-19 07:34] atb00ker commented on #208
If docker and ansible-openwisp2 are already setup, we can start from step 4,
in step 4, `<name>` can be hardcoded.

It might be possible to run step 5 & 6 from docker image itself by adding a bash script in the docker container that runs when docker image is run.

That's at the top of my head presently.

[2020-09-24 13:15] hispanico commented on #208
I think the easy way is to include a molecule scenario for local test and write down the instruction to install and run molecule locally.

[2020-10-03 16:10] miff2000 commented on #177
I can't replicate this issue in my environment, but the error is complaining about the virtualenv being missing.

This is defined [here](https://github.com/openwisp/ansible-openwisp2/blob/ea8ad58/vars/main.yml#L1):
[code]

That in turn is defined [here](https://github.com/openwisp/ansible-openwisp2/blob/ea8ad58/defaults/main.yml#L19):
[code]

However, the `openwisp2_path` directory is not created

[2020-10-03 17:19] miff2000 commented on #177
Tried to replicate using Vagrant with `debian/buster64` box and it completed without error also.

Regardless however, moving creation of the path to occur earlier in the role still makes sense.
Permissions look correct when the role has finished still:
[code]
[code]

[2020-10-03 18:05] #208 closed

[2020-10-07 04:20] nemesisdesign commented on #177
Closing this issue because it cannot be replicated.

[2020-10-07 04:20] #177 closed

[2020-10-23 22:41] nemesisdesign commented on #85
After https://github.com/openwisp/ansible-openwisp2/commit/17a9099b895d4fc90314737cf341cd776f58c01a I have not noticed this problem anymore, so I think it's ok to close this issue now, I will reopen if I encounter it again.

[2020-10-23 22:41] #85 closed

[2020-10-27 03:02] nemesisdesign opened #214 "[feature] Add openwisp-notifications"
- automatically set site domain using the FQDN (by default is example.com and the notification JS widget will send users to example.com if not set correctly) and add suggestion to revise this manually once the installation is completed
  - ensure the [settings for the notifications module are present](https://github.com/openwisp/openwisp-controller/pull/265/files#diff-9dec27df1ed1039b50d2b96520f1d

[2020-10-31 14:11] pandafy commented on #214
I am working on it. :smile:

[2020-11-01 19:56] pandafy commented on #214
I believe this has been already implemented in [_create load_initial_data.py script_ tasks in openwisp.openwisp2/tasks/django.yml](https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/django.yml#L123-L127).

Here is the code responsible for bringing that change:

https://github.com/openwisp/ansible-openwisp2/blob/8ef2809ed9014b3420dd326426e0a1eb142ec30b/templates/load_initial_data.py#L2

[2020-11-02 20:31] nemesisdesign opened #216 "[feature] Implement static minification and cache invalidation"
We need implement static asset minification and make sure Javascript and CSS files get updated automatically without having to ask users to refresh their browser cache.

Unfortunately django-pipeline does not support simple minification without bundling files together, which requires changes to the code of OpenWISP modules which are overkill (given also HTTP2 multiplexing it's not extremely needed

[2020-11-03 10:12] pandafy opened #217 "[docs] Ambiguous development instructions"
Documentation for installing the project for development asks the user to clone the project as follows
[code]

On the other hand, instructions for running tests in the development environment asks to clone the project as follows:
[code]

I think the former is done to [reuse the instructions for creating playbook given for end users](https://github.com/openwisp/ansible-openwisp2#create-playbook-fil

[2020-11-06 00:27] dwang commented on #182
This was fixed here: https://github.com/openwisp/ansible-openwisp2/commit/23d476acba8b684133653161289c2ff54be8c557#diff-9bdb1bd6974cb2b2838d95ce7cf3f63e0996b9544f42fb0f216557eb68424d6aR126

I just tested and there aren't any other deprecation warnings.

[2020-11-06 01:06] nemesisdesign commented on #182
Thanks for reporting @dwang!

[2020-11-06 01:06] #182 closed

[2020-11-10 11:44] pandafy opened #218 "[bug] Idempotence tests for "Install custom OpenWISP 2 Python packages" task"
installing a python package using pip through a URLs will always install it irrespective of the fact that whether it has been already installed or not.

While testing the role for development version of the module using URLs for their GitHub repositories, the idempotence test fails.

I think it will be in the best interest to disable skip idempotence test for following task, because it is supposed

[2020-11-10 16:17] nemesisdesign commented on #218
Ok we can skip it :+1:

[2020-11-10 23:20] #218 closed

[2020-11-13 09:55] pandafy commented on #200
I am working on it! :smile:

[2020-11-15 14:00] pandafy commented on #199
@nemesisdesign I don't see a potential use for creating a dedicated variable for disabling just APIs. The users can simple enable or disable APIs using by setting `OPENWISP_FIRMWARE_UPGRADER_API` in 'openwisp2_extra_django_settings' variable.

[2020-11-15 20:37] nemesisdesign commented on #199
Agreed, what about a brief section for the firmware upgrader module in the README like we have for [network topology](https://github.com/openwisp/ansible-openwisp2#enabling-the-network-topology-module)?
In that section we could advise this (that API can be disabled this way, as well as setting other settings and link to the firmware upgrader settings).

[2020-11-16 06:30] pandafy commented on #199
I have [added it in the PR](https://github.com/openwisp/ansible-openwisp2/pull/221/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R431-R476 ) :smile:

[2020-11-27 17:57] #184 closed

[2020-11-29 08:59] mikysal78 opened #225 "Server Error (500) when add/change devices or templates"
I check in in the /opt/openwisp2/log/ but I have not found error.
I testing on virtualbox with fresh install debian buster 64bit this playbook.

[code]

i see the merged  [[change!] Removed django-netjsonconfig](https://github.com/openwisp/ansible-openwisp2/commit/6b170edbc4891800b68bdccc1910a4ec9741d5a5) and i try restore snapshot and comment pretask...
there is an error:

[code]
ModuleNotFoundEr

[2020-11-29 14:53] mikysal78 commented on #225
Change old versione controller.
Add  vars openwisp2_controller_version: "0.7.0" it's ok.

[2020-11-29 14:53] #225 closed

[2020-12-01 14:30] nemesisdesign commented on #217
Shall we always suggest using the fork? Only a minority of contributors will be using the main repository.

@pandafy @hispanico @atb00ker what do you think?

[2020-12-01 18:05] atb00ker commented on #217
This "How to test" part & module tests one was written much later, hence the difference, I think we can do with
[code]

(Using fork but naming it `openwisp.openwisp2`)

[2020-12-02 13:32] pandafy commented on #217
@atb00ker if you clone the repository in `openwisp.openwisp2` directory then the tests will fail until you update the following to use `openwisp.openwisp2` role.

https://github.com/openwisp/ansible-openwisp2/blob/8ef2809ed9014b3420dd326426e0a1eb142ec30b/molecule/resources/converge.yml#L20-L21

This was my main concern

[2020-12-02 14:18] atb00ker commented on #217
@pandafy A simple syslink should take care of that, I suppose. :smile:

[2020-12-02 17:23] #197 closed

[2020-12-02 18:42] pandafy opened #227 "[enhancement] Run tests of openwisp-notifications"
Add `openwisp_notifications.tests.test_admin` in `molecule/resources/verify.yml` to test whether functionalities related to admin dashboard is properly working.

https://github.com/openwisp/ansible-openwisp2/blob/d4d9257b4041c62a1b02fdaf16881cd4c1c06998/molecule/resources/verify.yml#L8-L11

** Blockers **
- [ ] https://github.com/openwisp/openwisp-notifications/issues/157

[2020-12-02 20:56] #214 closed

[2020-12-02 20:59] #216 closed

[2020-12-04 00:37] #200 closed

[2020-12-04 00:37] #199 closed

[2020-12-04 06:02] b-thebest commented on #227
Can I work on this

[2020-12-04 06:03] b-thebest commented on #69
Can I work on this

[2020-12-04 17:48] nemesisdesign opened #230 "[bug] Pip Install is breaking because of new dependency resolution on some systems"
While testing the current master at https://github.com/openwisp/ansible-openwisp2/commit/ab6137cfdd310a9aa7274cc49abc0af8d913c1af, I ran into a very weird situation:

[code]

I'm supposing it's caused by the new dependency resolution algorithm which was recently switched to be the default in pip.
But I wonder why this didn't happen in our earlier tests: I wonder if it's a special case on this syst

[2020-12-04 18:42] nemesisdesign opened #232 "[bug] Static minification breaks leaflet marker icon"
On the current latest master.

How to replicate:

- create a device
- assign a map location to the device

Expected outcome: marker is shown
Actual outcome: marker icon is not found because its name is miscalculated

![Screenshot from 2020-12-04 13-39-11](https://user-images.githubusercontent.com/841044/101201733-34fc0e80-3636-11eb-99ed-04978bd7bb3c.png)

![Screenshot from 2020-12-04 13-42-08](htt

[2020-12-04 18:44] nemesisdesign opened #233 "[bug] Main template not loding in /accounts/login/"
PS: this happens on a fresh installation of ansible-openwisp2 with the latest patches merged. At first I thought I was able to replicate it in the dev env of openwisp-users but subsequent attempts do not show the issue, although confirmation would be welcome.

Try to access /accounts/login/.

Something like the following screenshot is shown:

![Screenshot from 2020-12-03 17-52-31](https://user-ima

[2020-12-04 19:00] nemesisdesign opened #234 "[feature] Add API URLs by default"
In order to facilitate enabling the API docs and the openwisp-users API (which is a pre-requisite for other modules), we should do the following:

- Add `rest_framework.authtoken` and `drf_yasg` to `settings.INSTALLED_APPS`
- Add the following URLs to urls.py:
  - `url(r'^api/v1/', include('openwisp_utils.api.urls'))`
  - `url(r'^api/v1/', include('openwisp_users.api.urls'))`

The reasons for incl

[2020-12-04 19:01] nemesisdesign commented on #230
I merged #231 which is a workaround that will help us to avoid having to deal with this issue right now. I will leave the issue open for the future.

[2020-12-04 20:26] nemesisdesign commented on #232
I tried switching to `ManifestStaticFilesStorage` but the problem remains.

[2020-12-05 02:53] nemesisdesign commented on #232
At the moment the only possibility I see is to write a custom `ManifestStaticFilesStorage` class which skips processing these files that give problems.

Something like this class: https://github.com/TomAnthony/django-flexible-manifest-staticfiles/blob/master/django_flexible_manifest_staticfiles/storages.py, but simpler (eg: just checking `'leaflet' in name`).

So we'll need to construct the final

[2020-12-05 12:04] atb00ker commented on #159
I think we haven't seen anything funny recently, so closing for now, if someone has seen something, please reopen.

[2020-12-05 12:04] #159 closed

[2020-12-05 16:00] nemesisdesign commented on #159
:+1: thanks

[2020-12-06 14:56] pandafy commented on #232
After lots of debugging. I found out the reason and solution for this error: https://github.com/Leaflet/Leaflet/pull/7092.

For the time being, the solution suggested by @nemesisdesign will be the best. It should be added in openwisp-utils in my opinion.

[2020-12-07 18:58] nemesisdesign commented on #232
Thanks for the analysis Gagan, I also did find that link, but didn't read it entirely, how do you think the two issues are linked?
I have the impression the django manifest file storage class should be able to handle this, unless there's something really unusual in leaflet.

Ok, I had thought we could add it here but adding it to openwisp-utils will be cleaner.

[2020-12-08 05:07] Purhan commented on #233
@nemesisdesign @pandafy I was able to replicate this in [openwisp-controller](https://github.com/openwisp/openwisp-controller/), can you confirm this? Could this be related??

[2020-12-08 13:53] pandafy commented on #233
@Purhan the issue originates from conflict in templates of openwisp-notifications, openwisp-users and openwisp-utils. Since the test project of openwisp-controlller uses all modules, it can be reproduced there.

Please read https://github.com/openwisp/ansible-openwisp2/pull/235#issuecomment-739533627. If you still have any doubt, let me know.

[2020-12-08 14:00] pandafy commented on #232
I have the impression the django manifest file storage class should be able to handle this, unless there's something really unusual in leaflet.

Leaflet extract location of the icons though [string manipulation using regex](https://github.com/Leaflet/Leaflet/pull/7092/files#diff-65510978f847aaaf9307d30495332de39ecfed44ec25372d1338456e7d953a17L51-R62). Since, they have hard-coded it for the image n

[2020-12-09 19:08] #232 closed

[2020-12-10 08:13] AndreaFerraresi opened #240 "APT only support is not ideal"
Hi guys, I was going through the ansible module of OpenWISP and I realized that it is apt only. This is not really ideal, especially if you want to use this system on enterprise-grade situations.
The code should be supported on redhat/fedora/centos as well. An alternative would be using Package instead of APT or, if it isn't possible, we should be using yum.

Will try to work on this during my hol

[2020-12-10 16:50] nemesisdesign commented on #240
@AndreaFerraresi we used to support Redhat distros, but we don't have the resources to maintain it. It was slowing us down.
We'll migrate to [docker-openwisp](https://github.com/openwisp/docker-openwisp) anyway as soon as possible so I do not suggest investing in this effort.

Those who do need Redhat can start from this branch and update it as they need: https://github.com/openwisp/ansible-openwi

[2020-12-10 16:50] #240 closed

[2020-12-10 17:21] AndreaFerraresi commented on #240
Just my two cents: Ansible can also be used for kubernetes operators, with docker changing the license and openshift going away from it I would be careful on investing time in docker-compose as well.

But let me know if I can help
On 10 Dec 2020, 17:50 +0100, Federico Capoano <notifications@github.com>, wrote:

[2020-12-10 19:03] nemesisdesign commented on #240
@AndreaFerraresi check this out: https://github.com/openwisp/docker-openwisp/blob/master/docker-compose.yml

These are the priorities we're working on: https://github.com/orgs/openwisp/projects/4
The current goal is to get to a point in which the main modules are all robust, ship the most requested features, installable via ansible and decently documented.

[2020-12-13 03:01] nemesisdesign commented on #233
I confirm this, thank you @Purhan for pointing it out! I just tested it on an instance deployed with the latest ansible-openwisp2 and indeed it fixes the issue, so [I released openwisp-users 0.5.1](https://pypi.org/project/openwisp-users/0.5.1/) and I think no further action is needed, let's close this.

[2020-12-13 20:02] #234 closed

[2020-12-14 10:17] iantait commented on #200
This feature seems to overwrite any existing keys on a new device install?

[2020-12-14 17:26] nemesisdesign commented on #200
A template is created only if there's no other template defining `/etc/dropbear/authorized_keys`.
If no template is defined, yes, local authorized keys will be overwritten, add those to the template, removing the template may work as well (previous backed up file should be restored) but please ensure you have another way to access the device before trying it.

[2020-12-20 21:37] nemesisdesign opened #242 "[bug/change] Fix SynchronousOnlyOperation: change worker settings"
Lately I have started to see many `SynchronousOnlyOperation` since django 3.0.

Looks like using the django ORM from greenlets can lead to thread safety issues.

This means we may not be able to use greenlets as a concurrency pool without refactoring the code to make it greenlet safe.

Greenlet concurrency would have been useful to increase the speed of the monitoring and network requests, but at

[2020-12-22 01:40] nemesisdesign opened #243 "[change] Edit permissions of /opt/openwisp2 and settings.py"
Make `/opt/openwisp2` and any directory created under it not readable, nor executable except for its owner and its group.
Ensure `/opt/openwisp2/openwisp2/settings.py` is only readable by owner and group.

[2020-12-27 16:52] Sanditya2510 commented on #69
Hi @nemesisdesign is this still open?

[2020-12-27 18:26] pandafy commented on #69
@Sanditya2510 this issue is still relevant. You can go ahead and work on this if you want to.

[2020-12-28 04:03] Sanditya2510 commented on #69
Ok great, I will setup the application and start working on this issue.
Thanks

[2020-12-28 19:16] #243 closed

[2020-12-29 17:02] pandafy opened #248 "[ci] Update Ansible Galaxy for builds on master branch"
Uploading stats to Anisble Galaxy requires a token which is stored in GitHub secrets. The secrets are not provided to workflows that are triggered by PRs opened from fork.

It will best to only run the action for this job when the build is created on the master branch.

[2021-01-05 22:16] nemesisdesign commented on #193
I thought about a possible solution to this problem.

### Version vars

We could change the variables like `openwisp2_controller_version` to be full strings instead of partial strings.

Actual implementation:

[code]

New implementation:

[code]

This will allow us to specify custom openwisp modules directly using the version var, making it obsolete to define the pip var.

### Get rid of "Install

[2021-01-06 09:24] stefangweichinger opened #250 "turn off https redirection (behind rev proxy)"
Does the role support disabling the redirection, or do I have to manually edit the vhost ...?

I need a http-only instance to run behind a HAproxy reverse proxy and will do the SSL/TLS stuff there.

A quick look over the role variables doesn't show me a toggle for that, right?

I edited the nginx-host to disable the redirect but so far no success, I assume I need to copy all the location-blocks to

[2021-01-06 13:22] stefangweichinger commented on #250
Solved by setting:

[code]

[2021-01-06 13:22] #250 closed

[2021-01-06 19:39] sankha555 opened #251 "[deps] Update Celery to version 5"
Celery version 5.0 (Singularity) [documentation](https://docs.celeryproject.org/en/stable/whatsnew-5.0.html) has brought in a few changes including the command to launch celery from the command line. We can upgrade our codebase to use celery v5 now and a relevant addition can be made to ```README.md``` mentioning the latest command to start celery.

A related issue and linked PRs (currently under

[2021-01-13 16:55] #242 closed

[2021-01-18 20:48] devkapilbansal commented on #248
I am working on this

[2021-01-20 03:03] #248 closed

[2021-01-21 17:59] nemesisdesign opened #256 "[bug] HTML minification issue: <pre> tags should not be minified"
The DRF browsable API interface formatting breaks with HTML minification enabled.

![Screenshot from 2021-01-21 12-58-30](https://user-images.githubusercontent.com/841044/105391737-6af65180-5be8-11eb-8e2e-699dee3e5b3a.png)

I opened an issue in django-pipeline: https://github.com/jazzband/django-pipeline/issues/744.

[2021-02-09 03:24] nemesisdesign commented on #195
Additional info:

- for installing influxdb, we can use https://github.com/openwisp/ansible-ow-influxdb

[2021-02-09 15:15] nsmith1024 opened #258 "Installing OpenWISP on OpenWRT"
Hello,

I have OpenWRT that i built myself for Raspberry PI. I want to use it with OpenWISP.

Is OpenWISP a package in OpenWRT so that i can use "opkg install wisp2", or how do i install it on there?

Can i built it into the firmware using "make menuconfig" selecting it from the menu, and then "make"

We have a HUGE project at work we are thinking of using OpenWISP2 for it.

Thanks

[2021-02-09 17:54] nemesisdesign commented on #258
Please read https://openwisp.io/docs/user/configure-device.html carefully.
For further questions use the support channels (general chat or ML): https://openwisp.org/support.html

[2021-02-09 17:54] #258 closed

[2021-02-09 19:31] nsmith1024 commented on #258
That link doesnt work, it said secure connection failed, and the browser wont let me see it.

[2021-02-09 21:03] nemesisdesign commented on #258
@nsmith1024 works fine on my end and works fine in the google cache.

[2021-02-09 21:50] nsmith1024 opened #260 "OpenWISP connection method to agent"
Hello,

I was in the OpenWISP chat room, and someone mentioned that how it works is that there is an OpenWISP agent that resides on the OpenWRT router. That agent connects to the django app,  that app is the main app thats configuring the router.

We are thinking of using OpenWISP for our project, but we would like if it worked the other way, where the django app connects to the OpenWISP agent in

[2021-02-09 22:07] okraits commented on #260
For general questions use the support channels (general chat or ML): https://openwisp.org/support.html

[2021-02-09 22:07] #260 closed

[2021-03-06 20:05] VM-2020 opened #261 "ERROR! couldn't resolve module/action 'django_manage'."
Following the installation instructions I got this error message when running the playbook.
I installed Ansible on Manjaro (Arch-linux) from the repo package installer..

The error appears to be in '/root/.ansible/roles/openwisp.openwisp2/tasks/django.yml': line 104, column 3, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

- name: migrat

[2021-03-07 10:13] maansiii commented on #261
Try to upgrade the Ansible and see if it works.

[2021-03-07 11:43] VM-2020 commented on #261
Hi, thanks for replying..

I have figured it out in the end - did use ansible-base first but this is only for dev.
Installed the full package and could continue with installing OpenWISP..

Finally had to change ansible.cfg - and changed #host_key_checking= True > False

Also got some [DEPRECATION WARNINGS] on Stouts.postfix: Install requirements (Debian) and Install DKIM requirements (Debian)

[2021-03-07 13:09] VM-2020 commented on #261
Just an remark, about installing Certs/LetsEncrypt..

I had to make some changes getting it done because it was challenging (ACME) the wrong domain.
The install is done on a VPS with loop-back domains (127.0.1.1) of the hosting provider, eg. domain.colo.hostingprovider.net

- hosts: openwisp2
  become: "{{ become | default('yes') }}"
  roles:
    - thefinn93.letsencrypt
    - openwisp.openwisp2

[2021-03-11 15:08] nemesisdesign commented on #261
Thanks for sharing, please use the support channels if you need more help: https://openwisp.org/support.html
This is the bug tracker.

[2021-03-11 15:08] #261 closed

[2021-03-24 17:05] nemesisdesign opened #263 "[bug] Build failures for bpython installation"
Some builds in https://github.com/openwisp/ansible-openwisp2/pull/223 and https://github.com/openwisp/ansible-openwisp2/pull/262 are failing with errors like:

[code]

[2021-03-24 17:57] nemesisdesign opened #264 "[tests] Converge warnings in CI build"
We should fix these warnings if possible:
[code]

The idempotence tests are also failing randomly, which is annoying and would be great to fix.

[2021-03-24 18:23] #263 closed

[2021-04-04 07:35] pandafy opened #266 "[chores] Remove workaround for a excluding leaflet icon from static minification"
#238 introduced a workaround to enable excluding files from minification and versioning because of #232

Since, that functionality has been ported in openwisp-utils in https://github.com/openwisp/openwisp-utils/pull/172 (to simplify maintenance), we can remove the workaround from the ansible role and update the settings accordingly.

Let's send a patch to dev branch.

[2021-04-23 20:34] nemesisdesign commented on #266
@pandafy do you confirm that this issue is unblocked now?

[2021-04-23 20:45] nemesisdesign opened #267 "[feature] Add new openwisp-users authentication backend"
We can do this change in the current `dev` branch (that is, branch from there and send the PR to that branch). We shall set the [new authentication backend of openwisp-users](https://github.com/openwisp/openwisp-users/#authentication-backend) as the default:

[code]

PS: we should also add:

[code]

[2021-04-24 11:48] pandafy commented on #266
This requires openwisp-utils 0.8.0. I have updated the issue description as well.

[2021-04-24 14:08] Arsh0023 commented on #266
Can I start working on this?

[2021-05-05 16:01] nemesisdesign opened #269 "[change] Update nginx max file upload size to match firmware upgrader"
If firmware upgrader is enabled, we should increase the default nginx max file upload size to 30 MB to match https://github.com/openwisp/openwisp-firmware-upgrader#openwisp-firmware-upgrader-max-file-size.

I think the easiest thing may be to add a way to control `OPENWISP_FIRMWARE_UPGRADER_MAX_FILE_SIZE` with an ansible variable, and use the same variable also to configure the nginx max file uplo

[2021-05-10 11:09] pandafy opened #271 "[change] Use django-celery email as default email backend"
_Continuing from the discussion in https://github.com/openwisp/ansible-openwisp2/pull/262#discussion_r628956198_

Changes needed to be introduced:

1. Add a dedicated variable for setting email backend, see https://github.com/openwisp/ansible-openwisp2/commit/59796a1e231670bffeb084e5a890fda4fc64a3b8
2. Install django-celery-email package by default

**Open for discussion:** Check whether we can ge

[2021-05-20 09:36] Doralitze opened #272 "[bug] Django migration fails: possibly misconfigured celerydb"
when running the playbook the step `openwisp.openwisp2 : migrate` fails.

This is the stack trace:
[code]

According to [this issue](https://github.com/celery/kombu/issues/369) this is a misconfiguration of the celery database connection hence Iḿ reporting this here.

In case it's useful I've posted my playbook configuration below:
[code]

I'm hoping someone can help me with this.

[2021-05-20 22:10] pandafy commented on #272
@Doralitze what is the OS of the target machine?

[2021-05-21 19:05] Doralitze commented on #272
output from `uname -a`: `Linux openwispcontroller 4.15.0-143-generic #147-Ubuntu SMP Wed Apr 14 16:10:11 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

output from `lsb_release -a`:
[code]

[2021-05-21 21:05] pandafy commented on #272
Hi @Doralitze, I was not able to replicate this issue on my Ubuntu 18.04 machine. But, here are some pointers to help us find out the possible reason for this error.

1. Check `CELERY_BROKER_URL` settings in `/opt/openwisp2/openwisp2/settings.py`.  You should get same output after running this command
[code]
2. Check the number of databases in redis.conf
[code]
In this example, the number of datab

[2021-05-22 08:52] Doralitze commented on #272
Hi @pandafy

I was following your steps

I indeed I got the same result.
[code]

Said command outputs `databases 3` instead of `databases 16`. So I changed my playbook accordingly and voila it works. Since when does openwisp use that may redis databses?

Thanks a lot for your help dough!

[2021-05-22 08:58] Doralitze commented on #272
A quick grep of the README revealed that celery uses Database 3 by default and since redis databases are 0 indexed it couldn't have worked. Looks like i missed that when upgrading my controller instance. I'm truly sorry that I wasted your time for something that collapses to RTFM but I'm really glad you put me on the right spot. Again: Thanks a lot for your help.

[2021-05-22 08:58] #272 closed

[2021-05-23 11:29] pandafy commented on #272
No worries @Doralitze! It was a learning experience for me as well. I am glad that you got it working. 👍🏼

[2021-05-26 01:38] nemesisdesign commented on #256
Has been fixed by https://github.com/openwisp/openwisp-utils/pull/198.

This issue can be closed once openwisp-utils 0.7.5 is released: https://github.com/openwisp/openwisp-utils/issues/201.

[2021-06-01 17:53] #256 closed

[2021-06-01 17:55] pandafy commented on #256
openwisp-utils 0.7.5 is released: https://github.com/openwisp/openwisp-utils/releases/tag/0.7.5

[2021-06-10 22:57] nemesisdesign opened #273 "[change] Rework celery queues to avoid slowing down tasks"
Recently I changed the configuration of the queues to separate background tasks from monitoring tasks, to avoid having one worker doing everything and stalling because some network task is taking long to finish.

However I realized this is not enough.

Let's immagine a case in which 100 firmware upgrade operations are launched and all the network wokers are executing these upgrades, which may take

[2021-06-18 17:36] nemesisdesign opened #274 "[feature] Make uwsgi processes (and threads), daphne processes configurable"
Make uwsgi processes (and threads), daphne processes configurable.

I think we should also default everything to 1.

[2021-07-03 01:21] #274 closed

[2021-07-13 15:23] nemesisdesign opened #277 "[fix] Add logrotate conf for custom nginx logs"
OpenWISP stores nginx logs in `/opt/openwisp2/log`, but while logs produced by supervisord are rotated by supervisor, nginx logs are not rotated automatically, we have to tweak the logrotate configuration to instruct it to rotate this path too.

Adding this file to `/etc/logrotate.d/openwisp-nginx` fixes the space issue on busy systems.

[code]

[2021-07-13 22:55] #277 closed

[2021-07-16 19:21] mikysal78 opened #279 "[request] all modules..."
When will a release with all selectable modules?
thanks.

[2021-07-16 22:30] nemesisdesign commented on #279
I don't know when we'll be able to release. As soon as possible but I cannot commit to any date. Sorry.

[2021-07-16 22:30] #279 closed

[2021-07-27 16:04] nemesisdesign opened #281 "[change] Change nginx conf to use sockets to redirect traffic to uwsgi and daphne"
Since the traffic is on the same host, we can use unix sockets to reduce overhead.

For daphne:
[code]

For uwsgi: https://uwsgi-docs.readthedocs.io/en/latest/Nginx.html#configuring-nginx and I think we'll have to configure the uwsgi.ini to use the unix socket instead of the TCP socket.

[2021-07-29 19:25] #281 closed

[2021-08-22 17:40] t-trmg opened #285 "[feature] Add support for Debian 11 (Bullseye)"
Hello,

I updated my OpenWISP controller to Debian 11 (Bullseye) which has broken things.  This I was completely expecting.  So, I attempted to re-install via the upgrade instructions and the following issues occur:

1) The step where redis is installed, it fails.  I believe this is because the current version of redis packaged for Debian 11 is 6.0.15 whereas the Ansible installer is looking for e

[2021-08-26 17:32] pandafy opened #289 "[docs] Stouts.postfix role mismatch in documentation"
In documentation, it is suggested to use Stouts.postfix from https://github.com/nemesisdesign/Stouts.postfix

In meta/main.yml, it uses https://github.com/Stouts/Stouts.postfix
https://github.com/openwisp/ansible-openwisp2/blob/0df7136ae8bdd43421b535fd499a012fe408e04f/meta/main.yml#L3-L9

This discrepancy should be resolved and the correct URL should be present at both the places.

[2021-08-26 18:12] nemesisdesign opened #290 "[feature] Add support for internationalization"
The steps required to make internationalization work are the following ones:

Add `'django.middleware.locale.LocaleMiddleware'` to `MIDDLEWARE` in `settings.py` (before CommonMiddleware).

Install gettext, eg: `apt install gettext`

Run `compilemessages` (could be done after `collectstatic`):

[code]

Ensure the following settings are `True`:

[code]

We could add a variable which controls whether

[2021-09-07 16:37] nemesisdesign opened #291 "[bug] Unknown django command: collectstatic --noinput"
Builds are failing with:

[code]

Also some users reported this issue when installing.

This may have been an issue with ansible: https://github.com/ansible-collections/community.general/issues/3215
We should identify which version introduced this bug and verify if a newer version has been released which fixes the issue, so that we can recommend using a version which is either lower than when the

[2021-09-14 15:03] #291 closed

[2021-09-16 14:37] okraits commented on #230
I think I already mentioned it on gitter, but we are using `pip-compile` from https://github.com/jazzband/pip-tools to generate `requirements.txt` out of `requirements.in`. Then we use `pip install -r requirements.txt` to install all packages. `requirements.txt` is commited to have a reproducible set of packages in production. So far we didn't have any issues with the new dependency resolver in `p

[2021-09-23 07:42] imp1sh opened #295 "IPv6 support"
When I install the OpenWisp system via Ansible the nginx systems listens IPv4 only.
As in https://datatracker.ietf.org/doc/html/rfc6540 IPv6 is no longer optional.
Please adjust.

[2021-09-23 17:02] nemesisdesign commented on #295
You just need to set one variable to true: https://github.com/openwisp/ansible-openwisp2/blob/master/defaults/main.yml#L51.

IPv6 is unfortunately on most systems we deal with and causes issues to novice users trying to install openwisp, some aspects of the default settings of the role are aimed at helping newcomers to get it running.

[2021-09-23 17:02] #295 closed

[2021-09-23 17:06] imp1sh commented on #295
I'm not talking about deactivating IPv4 I'm talking about supporting dual stack as a default which won't cause issues for anybody.

[2021-09-24 01:53] nemesisdesign commented on #289
Should be fixed now, please double check and let me know.

[2021-09-24 02:07] nemesisdesign opened #297 "[bug] New celery queues should be added only if module is enabled"
The new queues for monitoring and firmware upgrader should be enabled only if the respective modules are enabled. The code right now checks only for a specific variable which defaults to true, but the modules may be turned off.

https://github.com/openwisp/ansible-openwisp2/blob/5621f81587b1b30e6f40c25573abff10a145a953/tasks/supervisor.yml#L44

It should be:

[code]

[2021-09-24 11:44] pandafy commented on #289
Thanks! It has been fixed

[2021-09-24 11:44] #289 closed

[2021-09-24 15:13] #297 closed

[2021-09-27 20:28] #285 closed

[2021-09-27 22:29] nemesisdesign opened #300 "[docs/dev] Add instructions on how to use the dev branch"
After rebasing dev on the latest master, let's also add instructions on how to use the dev branch to install the new (unreleased yet) version of OpenWISP, we should add an example which contains all the modules and ensure this example installs a fully featured instance of OpenWISP.

We can add this to master. Then we can send the link to these instructions to anyone wanting to use OpenWISP RADIUS

[2021-09-28 11:43] pandafy commented on #273
Closed in #293

[2021-09-29 01:17] nemesisdesign commented on #273
Ok to close it (since we closed all the other issues in ow-controller for a similar reason).

The firmware upgrader queue is available in master, the monitoring queue is available in the `dev` branch for now, until it will be released to master.

[2021-09-29 01:17] #273 closed

[2021-09-30 01:07] nemesisdesign commented on #300
Closed by https://github.com/openwisp/ansible-openwisp2/pull/301.

[2021-09-30 01:07] #300 closed

[2021-10-02 17:08] nemesisdesign opened #302 "[docs] Fix autoscale comments in README and code"
Our docs and comments regarding [celery autoscaling](https://docs.celeryproject.org/en/stable/userguide/workers.html#autoscaling) is incorrect: we mention that the first value is the min value and the second the max one, but it's the reverse: the max value comes first, the min value after.

We should fix both comments and README, first in `master` branch, then we should rebase on `dev` and fix the

[2021-10-03 08:19] himanshu007-creator commented on #302
Hi, i would like to work on this issue

[2021-10-04 12:29] pandafy commented on #302
Go ahead @himanshu007-creator! 🚀

[2021-10-06 19:30] nemesisdesign opened #303 "[docs] Update recommendations for letsencrypt SSL cert in README"
The README recommends a way to deploy the SSL cert which is out of date, let's update it to explain how to do it with the latest way of doing it.

[2021-10-07 18:59] nemesisdesign opened #304 "[docs] Fix upcoming release instructions"
The ansible influxdb role is not being pulled automatically with current instructions.

According to ansible galaxy it is possible to install from a specific git version: https://galaxy.ansible.com/docs/using/installing.html.
If we recommend installing the role via ansible galaxy (instead of cloning) the influxdb role dependency should be automatically pulled, because it's defined in https://githu

[2021-10-07 22:09] nemesisdesign opened #306 "[feature/radius] Allow using a different template for radius site"
The freeradius site shipped in this role is kind of hardcoded, but freeradius requires a lot of customization in order to work, since anyone using it has to tailor it to the network of their organization.

An easy way to allow customizing it could be to allow specifying a different template, is this doable?

I wonder if we can specify a variable here:
https://github.com/openwisp/ansible-openwisp2/

[2021-10-15 21:37] devkapilbansal opened #310 "[change] Add geocoding check in deployment script"
Geocoding tests are converted in deployment checks via [this PR](https://github.com/openwisp/django-loci/pull/97)

We should add this checks to ensure geocoding works as expected

[2021-10-22 12:28] pandafy opened #311 "[bug] Role does not work with Jijna2 <2.11"
We should tell users in the document to install ansible in a virtual environment (this will make the whole process less error prone) and install the correct version of ansible and Jinja using pip.

[2021-10-27 10:14] pandafy opened #313 "[enhancement] Allow users to specify Django version"
Add a variable to specify which version of Django should be installed.
This task should be run after everything is installed by pip to avoid accidental upgrades by any other package.

I think we should default it to `~=3.2.0`, since it is an LTS release of Django (open for discussion).

[2021-11-02 00:14] #311 closed

[2021-11-06 18:15] nemesisdesign commented on #306
Implemented in dev branch by https://github.com/openwisp/ansible-openwisp2/pull/307.

[2021-11-06 18:15] #306 closed

[2021-11-06 18:15] nemesisdesign commented on #304
Fixed by https://github.com/openwisp/ansible-openwisp2/pull/308.

[2021-11-06 18:15] #304 closed

[2021-11-06 18:18] nemesisdesign commented on #290
Closed by https://github.com/openwisp/ansible-openwisp2/pull/296.

[2021-11-06 18:18] #290 closed

[2021-11-06 18:42] nemesisdesign opened #314 "[change:dev-branch] Remove sqlcounters by default"
Once https://github.com/openwisp/openwisp-radius/pull/334 is merged, a basic mutli-tenant compatible sqlcounter implementation will be shipped in OpenWISP RADIUS.

For this reason, we should avoid enabling by default the sql counters in the [default freeradius site conf](https://github.com/openwisp/ansible-openwisp2/blob/dev/templates/freeradius/openwisp_site.j2), otherwise multiple queries would

[2021-11-16 14:27] pandafy commented on #269
The values takes by nginx conf and OpenWISP Firmware Upgrader for specifying upload size are different.

nginx take data values in `10M` notation, while OpenWISP Firmware Upgrader take data value in bytes.

[2021-11-16 16:39] nemesisdesign commented on #269
Let's proceed with dividing the value in the jinja2 template or any other equivalent good way of achieving the same.

[2021-11-19 16:05] #302 closed

[2021-11-29 13:40] nemesisdesign opened #319 "[ci] Fix idempotence failure for firmware-upgrader"
The build is randomly failing for the idempotence test of the task which installs the firmware-upgrader module.
It would be good to know if it's something we can fix or not (if not we should avoid failing the build if idempotence fails).

[2021-11-29 19:54] nemesisdesign commented on #195
This feature is available in the dev branch.

[2021-11-29 19:54] #195 closed

[2021-12-03 21:25] #198 closed

[2021-12-03 21:25] #269 closed

[2021-12-09 20:06] nemesisdesign opened #322 "[feature] Add STATICFILES_DIR and possibility to easily upload custom static files"
Now that https://github.com/openwisp/openwisp-utils/pull/266 is merged, it became evident that Django needs to be configured properly in order for the staticfiles framework to find the custom static files.

We need to do this in a systematic way and document it.

For example, we could designate `static/custom/` as the directory where to place custom static files, then add to `settings.py`:

[code]

[2021-12-16 02:04] pniaps commented on #193
Currently, if you run the playbook after some time, installing current openwisp-controller module from repository, it's installed with `--no-deps` in `Install custom OpenWISP 2 Python packages` and i have to specify new or updated dependencies in `openwisp2_extra_python_packages` variable.

I think there is a problem with this ... suppose `main` branch of `openwisp-controller` requires `openwisp-u

[2021-12-16 14:33] #322 closed

[2021-12-17 11:18] pandafy commented on #193
Another posibility is to put all extra dependencies (including custom OpenWISP modules) in a requirements file on the remote(target) machine. And then install using `pip install -r requirements.txt`. I think `pip` will be able to handle the dependency version.

[2021-12-17 15:40] prathamaror commented on #310
can i work on this issue

[2021-12-18 09:43] unnati914 commented on #217
hey!
could I work on this?

[2021-12-22 11:23] pandafy commented on #310
You don't need to wait for assignment. Go ahead @prathamaror!

[2022-01-01 22:08] Lukas-J opened #325 "Install extra python packages is failing on Debian 11.2"
Task "Install extra python packages" fails on a freshly installed Debian 11.2 in VirtualBox.

Running `pip3 install -U bpython` as root loacally on the destination machine fixes the issue.

The output is the following:
[code]

[2022-01-04 13:21] nemesisdesign opened #327 "[bug] Celery 5 needs --queues instead of --queue"
See https://groups.google.com/g/openwisp/c/e7_75RYiMs8/m/wqs9GjtiCQAJ.

[2022-01-06 20:15] #327 closed

[2022-01-07 12:40] deykmora commented on #202
Hola donde colocaria esto?

[2022-01-07 13:38] deykmora opened #329 "Permission Denied"
buenos días tengo esta falla, así tengo el hosts:

[openwisp2]
192.168.100.115

y asi el playbook

- hosts: openwisp2
  become: "{{ become | default('yes') }}"
  roles:
    - openwisp.openwisp2
  vars:
    openwisp2_default_from_email: FOSDEM-test

cuando aplico ansible-playbook -i hosts playbook.yml -u debian -k --become -K, me dice:

BECOME password[defaults to SSH password]:

PLAY [openwisp2] *

[2022-01-11 15:28] nemesisdesign commented on #319
Closing for now as it's not happening anymore.

[2022-01-11 15:28] #319 closed

[2022-01-12 19:12] nemesisdesign commented on #329
This is a bug tracker, if you need help in installing/using OpenWISP please use the [support channels](https://openwisp.org/support.html).

[2022-01-12 19:12] #329 closed

[2022-01-12 19:18] nemesisdesign opened #331 "[feature] Add sesame default configuration"
Add default configuration for django sesame, to be used only when openwisp_radius is in use for now (since it's only used by that module for now).

The default could be to have a max age of 30 minutes.

[2022-01-19 20:58] pandafy opened #334 "[feature] Add support for automatic provisioning of subnets"
The new version of openwisp-controller will bring the feature that implements automatic provisioning of subnets.
https://github.com/openwisp/openwisp-controller/tree/1.0.x#subnet-division-app

Since this feature might not be required by everyone, we should add an ansible variable through which we can enable/disable the feature.

By default, the feature should be disabled.

[2022-01-20 10:43] maaathieu-x opened #335 "installation fails on bullseye"
Hi,

I'm trying to install openwisp on a fresh bullseye server, but I get this error:

`
fatal: [openwisp]: UNREACHABLE! => {"changed": false, "msg": "Failed to create temporary directory.In some cases, you may have been able to authenticate and did not have permissions on the target directory. Consider changing the remote tmp path in ansible.cfg to a path rooted in \"/tmp\", for more error inform

[2022-01-20 14:15] #335 closed

[2022-01-21 12:37] benvei opened #337 "[bug] Installation of upcomming release failes because of subnet division"
Hi!
Tried to update my openwisp installation to the latest upcomming release. Task `openwisp.openwisp2-dev : migrate` failed, and I thought it is because of the latest changes in openwisp-controller and upgrading might not be straight forward.

So I spun up a completely new Debian 11 VM and tried to deploy the playbook on the new and emty vm, with exactly the same error in the same Task. Seems to

[2022-01-21 15:31] #334 closed

[2022-01-21 17:49] #267 closed

[2022-01-21 17:49] #331 closed

[2022-01-22 12:37] benvei commented on #337
This seems to be solved with the latest commits in ansible-openwisp2 and openwisp-controller. Working fine now.
Thanks for the work!

[2022-01-22 12:37] #337 closed

[2022-01-24 16:59] Aryamanz29 commented on #313
@pandafy Could you please guide me in which file we have to add a variable for the Django version? ig it's `tasks/pip.yml`?😅

[2022-01-26 16:47] pandafy commented on #266
We can start working on this now as the role installs OpenWISP modules from GitHub.

[2022-01-26 16:49] pandafy commented on #313
Yes, install Django should be last task in `tasks/pip.yml`.

[2022-01-26 17:07] Lukas-J commented on #325
[code]

[2022-01-26 22:08] nemesisdesign opened #339 "[bug] Remove old TLS ciphers"
Remove the following ciphers from the nginx ssl conf:

TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS 1.0
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS 1.0
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS 1.1
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS 1.1
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS 1.2
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS 1.2

We have to make sure TLS v1.0 and TLS v1.1 will not be supported anymore.

[2022-01-26 22:51] nemesisdesign opened #340 "[feature] Allow to configure Content-Security-Policy"
Probably `Content-Security-Policy: default-src 'self'` could be enough, but let's double check that.

[2022-01-26 23:03] nemesisdesign opened #341 "[feature] Set Referrer Policy to static files"
Set Referrer Policy to same site so that static files return this header.

[2022-01-31 14:43] Its-Maniaco commented on #227
@pandafy @nemesisdesign Hi, I am pretty new to open source and I would love to work on this issue. I have never written backend-tests before. Could you help me out with this issue or provide any relevant resource that I can have a look at before trying this?

[2022-01-31 14:44] pandafy commented on #227
@Its-Maniaco  solving this issue requires solving https://github.com/openwisp/openwisp-notifications/issues/157. You should start from there.

[2022-02-08 20:08] #339 closed

[2022-02-08 20:08] #340 closed

[2022-02-08 20:08] #341 closed

[2022-02-12 16:07] totallynotvaishnav commented on #266
@pandafy do you suggest removing `storage.py` completely as it already has been ported to openwisp-utils?

https://github.com/openwisp/ansible-openwisp2/blob/0e6edf251dd9fa9fc825a75df42f80dd8dee530c/files/storage.py#L10-L23

should this be handled in openwisp-utils?

[2022-02-14 13:21] pandafy commented on #266
@totallynotvaishnav good catch. Yes, we will need to port this workaround to openwisp-utils.

https://github.com/openwisp/ansible-openwisp2/blob/0e6edf251dd9fa9fc825a75df42f80dd8dee530c/files/storage.py#L10-L23

The storage backend is present in [openwisp_utils/storage.py](https://github.com/openwisp/openwisp-utils/blob/master/openwisp_utils/storage.py)

[2022-02-15 17:52] nemesisdesign opened #343 "[bug] Fix uwsgi OSerror"
See https://stumbles.id.au/how-to-fix-uwsgi-oserror-write-error.html.

[2022-02-15 18:54] #343 closed

[2022-02-15 20:49] amay723 opened #346 "[bug] Update imports on Ansible Galaxy CI step silently fails due to misnamed dependencies"
The `openwisp.openwisp2` Ansible Galaxy package is outdated due to the "Update imports on Ansible Galaxy" CI step failing, even though it reports a success status.

This can be seen in every past Actions job that includes this step, which reports the following in the logs:
[code]

In order to fix this, we can update the following references of `ow-influxdb` to `openwisp.ow_influxdb`, matching the

[2022-02-15 21:37] amay723 commented on #346
I can no longer reproduce the issue with `openwisp.openwisp2` being outdated since posting this. Running `ansible-galaxy install openwisp.openwisp2` is now installing the most recent version from the master branch. Unsure what caused previous uses of that command to install an old version of openwisp. Closing the issue

[2022-02-15 21:37] #346 closed

[2022-02-16 13:57] pandafy commented on #227
Now that https://github.com/openwisp/openwisp-notifications/pull/223 is merged, we can proceed with this issue.

[2022-03-02 18:54] BlueWaterCrystal opened #351 "413 Request Entity Too Large"
Hi,

I keep getting this error and can't seem to fix it.

I've tried setting `openwisp2_firmware_upgrader_max_file_size` to 0, None, 4096 * 1024 * 1024.
But still happening.

Image size is 120MB

[2022-03-02 19:00] BlueWaterCrystal opened #352 "How to create template for globals?"
Hi,

I'm trying to create a template for `config globals 'globals'`, but doesn't change anything on the client.
Would anyone have an example JSON?

[2022-03-02 19:54] #352 closed

[2022-03-03 00:12] #351 closed

[2022-03-04 13:49] nemesisdesign opened #353 "[change] Disable nginx server_tokens"
In the https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/nginx.yml, let's add a task which sets the server_tokens to off like explained here: https://www.tecmint.com/hide-nginx-server-version-in-linux/.

[2022-03-10 15:34] #266 closed

[2022-03-10 15:57] #353 closed

[2022-03-15 13:54] Lukas-J opened #356 "Allow an "official" way to install openwisp on a server without an IP address in production"
In https://github.com/openwisp/ansible-openwisp2#create-inventory-file you say that `openwisp2.mydomain.com` needs to be a hostname and not an IP address.

In https://github.com/openwisp/ansible-openwisp2#back-to-your-local-machine you then set an IP address for the Virtual Box environment and set the variable `postfix_myhostname` later on.

I think, there should be an "official" way in the Readme

[2022-03-15 14:43] nemesisdesign commented on #356
That sound crazy to me. Feel free to edit the ansible role to do that, but that's not something I am going to endorse or recommend. A valid SSL certificate needs a hostname anyway. If you like to do it differently for your own reasons you're free to do it, all the code is open source and open for modification.

[2022-03-15 14:43] #356 closed

[2022-03-17 00:12] #271 closed

[2022-03-19 18:32] mikysal78 opened #358 "Error install redis-server on debian 11"
The output of my playbook is:

[code]

From apt-cache show redis-server i have this:
[code]

[2022-03-19 18:42] mikysal78 commented on #358
i comment backports and is ok.

[code]

[2022-03-19 18:42] #358 closed

[2022-03-27 21:03] codingHahn commented on #325
We have the same problem when deploying openwisp to a clean debian 11.2 machine with python 3.9.2.
[code]

when manually running `pip install -U bpython` in the venv, the following happens:
[code]

[2022-03-31 01:42] ldt4play opened #359 "openwisp2_radius not installing"
Installing on clean Debian 10, everything install correct, and get web access, but the radius opcion dont apear. Checking my ansible output, it just dont even tries to install it.
Is something I´m missing? I have tried adding other vars, and they are Installed whitout problem.

My Playbook.yml:

- hosts: myhost
#  become: "{{ become | default('yes') }}"
  roles:
    - openwisp.openwisp2
  vars:

[2022-03-31 04:48] vkhalil commented on #359
Hi,

Same here.

[2022-03-31 20:50] #359 closed

[2022-03-31 22:39] mikysal78 opened #360 "[OpenWisp Radius] Server Error 500"
I try add "batch user creation", select prefix, etc..
Click to save and i have Server Error 500
In the log /opt/openwisp2/log/openwisp2.log see this error:

[code]

[2022-04-01 00:29] nemesisdesign commented on #360
Change `openwisp2_language_code` in your playbook to just `openwisp2_language_code: it`.
This is not a bug report, please use the support channels for these support requests.

[2022-04-01 00:29] #360 closed

[2022-04-02 11:20] hanetzer opened #361 "Installing on a fresh Debian 11.3 armhf fails."
The specific point of failure is when trying to `./manage.py migrate --noinput`
`fatal: [openwisp2.domain]: FAILED! => {"changed": false, "cmd": `
[code]
Seems its this issue coming to bite us.
https://github.com/pallets/markupsafe/issues/284

[2022-04-05 00:41] nemesisdesign opened #362 "[docs] Remove reference to upcoming version when new release is out"
Once the 2022 release is out we have to remove these references: https://github.com/openwisp/ansible-openwisp2/commit/28adf62da816ad73205f34589c00a30af27f36a2.

[2022-04-05 01:57] nemesisdesign opened #363 "[feature] Add listen option to uwsgi.ini"
Add the listen option to uwsgi.ini, the default is 100.

[2022-04-05 10:26] rschwebel commented on #263
I've just seen this on Debian Bullseye.

[2022-04-05 16:53] nemesisdesign commented on #263
@rschwebel have you tried deploying the [upcoming version of OpenWISP (2022)](https://github.com/openwisp/ansible-openwisp2#deploying-the-upcoming-release-of-openwisp)? It's almost ready for release but we're working on fixing some remaining issues which need backward incompatible changes, but if you're starting out now it's better to use that.

[2022-04-05 22:54] #313 closed

[2022-04-07 20:47] nemesisdesign opened #365 "[bug] Supervisor reload takes too long"
Reloading supervisor takes an excessive long time, I wonder if we can implement a more graceful reloading, [uwsgi supports reloading with zero downtime by using the SIGHUP signal](https://uwsgi-docs.readthedocs.io/en/latest/articles/TheArtOfGracefulReloading.html), we should investigate whether SIGHUP would reload also the other processes or not, if yes we can use just SIGHUP for everything, other

[2022-04-07 21:29] #363 closed

[2022-04-07 22:22] nemesifier opened #366 "[bug] Content-Security-Policy should include all allowed_hostnames"
If there are multiple allowed_hostnames, the Content-Security-Policy must take this into account and make sure all hostnames are allowed.

[2022-04-23 04:47] cTurtle98 opened #367 "[bug] installation failed - TASK [openwisp.openwisp2 : migrate] failed"
openwisp2 installation failing with this output

[code]

[2022-04-23 05:10] cTurtle98 commented on #367
it looks like it might be because the version of jinja and the version of markupsafe are incompatible
https://github.com/aws/aws-sam-cli/issues/3661

[2022-04-23 19:07] nemesisdesign opened #368 "[bug] Install freeradius from network radius packages"
The freeradius package shipped right now in many systems does not work with HTTP2.

We should install the [freeradius packages provided by network radius](https://networkradius.com/packages/) which are more up to date.

[2022-04-23 20:35] mikysal78 opened #369 "Debian 11 error install redis-server"
Hi,
on fresh install i have this error.
Can i solved?
Thanks.

[code]

[2022-04-23 20:40] #369 closed

[2022-04-23 21:11] mikysal78 opened #370 "Debian 11 - error on task freeradius"
[code]

[2022-04-23 21:25] mikysal78 commented on #370
"/etc/freeradius/3.0/mods-available"
the directory 3.0 is not exist
exist
"/etc/freeradius/mods-available"

what do i have to change in the playbook or roles to make it work?

[2022-04-23 21:43] mikysal78 commented on #370
i change in my playbook the [vars](https://github.com/openwisp/ansible-openwisp2/blob/1b231d33caf6bc074a9137e072e93c7329177f24/defaults/main.yml#L162) on /etc/freeradius and is ok.
Leave issue open if you fix the default/main.yml

[2022-04-24 07:05] cTurtle98 commented on #367
I think I found where the error is coming from https://github.com/openwisp/ansible-openwisp2/blob/1b231d33caf6bc074a9137e072e93c7329177f24/tasks/django.yml#L107

[2022-04-25 14:39] mikysal78 commented on #352
http://netjsonconfig.openwisp.org/en/latest/general/commandline_utility.html

[code]
vi pippo

[2022-04-26 09:15] cTurtle98 commented on #367
trying with the dev channel it still gets stuck at the same place
[code]

[2022-04-26 09:21] cTurtle98 commented on #367
so apparently they are both the latest version and yet its failing
[code]

[2022-04-26 09:26] cTurtle98 commented on #367
[code]

[2022-04-26 12:47] pandafy commented on #367
@cTurtle98 try this

1. Login to the remote machine via SSH
2. Remove the virtual environment created by previous install using this command `rm /opt/openwisp2/env -r `
3. Re-run the playbook from [development channel](https://github.com/openwisp/ansible-openwisp2#deploying-the-upcoming-release-of-openwisp).

[2022-04-26 13:10] cTurtle98 commented on #367
deleting /opt/openwisp2 and re-running the dev branch install ansible playbooks appears to have worked.
hopefully it will be fixed in stable soon so I can run stable

[2022-04-26 13:21] pandafy commented on #367
Glad to know your issue was resolved.
It seems like pip was not updating the package that was installed by the stable version of the role.

[2022-04-26 13:21] #367 closed

[2022-05-03 15:08] eric-j-ason opened #372 "Bump openwisp2_controller_version to 1.0.0"
In the [latest release](https://github.com/openwisp/ansible-openwisp2/blob/a0027d2751cf9dcd26bef846d3c822040e0c483e/defaults/main.yml#L7) of ansible-openwisp2 (0.15.0), as well as in the current [`master`](https://github.com/openwisp/ansible-openwisp2/blob/7b37a0b07b8ff5c98367ec3432ef05bf4bf59969/defaults/main.yml#L11), `openwisp2_controller_version` is set to `0.8.2`. Since then, versions 0.8.3,

[2022-05-04 14:19] #372 closed

[2022-05-04 14:23] nemesisdesign commented on #251
This should have been already handled.

[2022-05-04 14:25] nemesisdesign commented on #230
This is not a problem anymore.

[2022-05-04 14:25] #230 closed

[2022-05-04 14:31] nemesisdesign opened #376 "[feature] Add support for Ubuntu 22"
Add support for the new Ubuntu 22.

[2022-05-05 00:11] #368 closed

[2022-05-06 22:46] #376 closed

[2022-05-07 17:49] #193 closed

[2022-05-08 14:45] Aryamanz29 commented on #69
I'm working on this

[2022-05-08 19:08] Aryamanz29 commented on #264
I'll try to fix this @nemesisdesign.

[2022-05-09 21:28] #264 closed

[2022-05-09 21:36] #310 closed

[2022-05-10 09:38] eric-j-ason commented on #372
@nemesisdesign: Thanks! Is there an issue, a milestone, or similar, where the remaining steps are tracked?

[2022-05-10 14:36] nemesisdesign commented on #372
Yes, even better is to join the [support chat](https://gitter.im/openwisp/general), the [mailing list](https://groups.google.com/d/forum/openwisp/join), or [twitter](https://twitter.com/openwisp) to receive announcements of new releases.

[2022-05-11 18:40] Aryamanz29 commented on #217
Hey @pandafy, Is this issue still relevant?  After merging of https://github.com/openwisp/ansible-openwisp2/pull/381, `ansible-openwisp2/molecule/resources/converge.yml` looks like this :
https://github.com/openwisp/ansible-openwisp2/blob/b348970d49785203635562cba75a407f3b154cc2/molecule/resources/converge.yml#L25-L26
I think now we can update `README` as well. What do you think?

[2022-05-11 18:42] Aryamanz29 commented on #217
We can now do this change.

[2022-05-12 09:43] pandafy commented on #217
You can go ahead with this @Aryamanz29

[2022-05-12 09:44] Aryamanz29 commented on #217
Thanks for confirming 👍

[2022-05-14 05:20] mattventura opened #384 "Fresh installation on Debian 11.3 completes successfully, but doesn't work"
I installed on a fresh VM according to the instructions. The Ansible playbook completed with no errors.

However, when I navigate to `openwisp.domain.com`, with or without https, with or without the `/admin`, I simply get the nginx '404 Not Found' page.

/opt/openwisp2/log/nginx.access.log and error.log are empty. `systemctl status nginx` doesn't show anything unusual. /etc/nginx/sites-enabled/ope

[2022-05-15 14:50] nemesisdesign commented on #384
The fact that the nginx site path is `/etc/nginx/sites-enabled/openwisp` instead of `/etc/nginx/sites-enabled/openwisp.domain.com` shows that your inventory and playbook may not be configured correctly, see: https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/nginx.yml#L76-L81, the variable `{{ inventory_hostname }}` is used to determine the hostname of the instance, if it's not set co

[2022-05-15 14:50] #384 closed

[2022-05-15 21:10] #217 closed

[2022-05-23 08:00] nikolya-prodigy opened #385 "802.1q and bridge vlan filtring"
Hello.
I use MT7621 CPU routers that don't have a separate switch.
Nevertheless, in the openwrt settings, I can create an 802.1q interface or work with vlan via bridge vlan filtring, but I did not find such functionality in openwisp.
The programmable switch is not suitable for me, since this setting is for routers that have a separate HW switch.
Is there any way to implement this support?

config

[2022-05-28 17:31] nemesisdesign commented on #362
This was done.

[2022-05-28 17:31] #362 closed

[2022-07-30 11:31] AndyX90 opened #389 "Upgrade via ansible fails on Ubuntu 20.04.4 LTS"
Hi,
i have a problem upgrading openwisp.
The upgrade via ansible results in

`TASK [openwisp.openwisp2 : migrate] ********************************************************************************
fatal: [openwisp.mydomain]: FAILED! => {"changed": false, "cmd": ["./manage.py", "migrate", "--noinput"], "msg": "stdout: Operations to perform:\n  Apply all migrations: account, admin, auth, authtoken, ch

[2022-08-01 20:08] AndyX90 commented on #389
Closing this as it's a duplicate of https://github.com/openwisp/openwisp-monitoring/issues/348.

[2022-08-01 20:08] #389 closed

[2022-08-05 10:40] pandafy opened #391 "[feature] Add a variable to configure "OPENWISP_MONITORING_DEFAULT_RETENTION_POLICY" setting of openwisp-monitoring"
**Depends on **
- [x] https://github.com/openwisp/openwisp-monitoring/pull/425

[2022-08-08 09:27] #69 closed

[2022-08-30 06:31] broadstack-au opened #393 "[Ubuntu 20.04], [ansible 2.13.2]: Issue with apt fact processing leads to python apt packages not being processed"
"Out of the box" install on Ubuntu 20.04, the pip install of uwsgi failed with...
[code]

Python package installation is being skipped:
[code]

I _assume_ it's because [the fact check](https://github.com/openwisp/ansible-openwisp2/blob/master/tasks/apt.yml#L184)
[code]
disagrees with
[code]

Change introduced here https://github.com/openwisp/ansible-openwisp2/commit/92da57657a88cdb08ab67222da75802

[2022-08-31 18:36] nemesisdesign commented on #393
@broadstack-au can you check with the debug module what is the value of "openwisp2_should_install_python_37"?

[2022-08-31 21:53] broadstack-au commented on #393
Yup, it's a straight bool false with my env. (Output is in the original comment)

[2022-08-31 23:25] broadstack-au commented on #393
It looks like the positive case was changed from `"True\n"` to `true` here: https://github.com/openwisp/ansible-openwisp2/commit/db7f16a66b9862255ba70a9a9d46a6fe144dc487#diff-bd68d57a0208eff15ccf26bd0a9e052d8f76cc2b5305f2a544456a8a5f135e55L189-L195

(I don't have access to enough environments to be confident that it should always be a straight bool test)

[2022-09-01 09:27] nemesisdesign commented on #393
Thanks for your analysis.

From the code I see that if `openwisp2_should_install_python_37` it means this instruction returns false:

[code]

What is the output you get from `/usr/bin/python3 --version`?

Another question, is this block executing for you?

[code]

[2022-09-01 10:15] broadstack-au commented on #393
Python version is `Python 3.8.10` (`Version: 3.8.10-0ubuntu1~20.04.5`)
"Check installed python version..." agrees:
[code]

All the python blocks get skipped:
[code]

The bit that puzzles me is how it ever worked - given what I'm seeing - unless it's an ansible / jinja filter implementation change.

Either way - Assuming you have access to a host with python <= 3.7x, I've put in a PR for validation

[2022-09-01 10:25] broadstack-au commented on #393
Sorry - missed the output from the specific task requested. Result was in original message

[2022-09-01 10:45] nemesisdesign commented on #393
@broadstack-au so if you change that block to:

[code]

Does it work as expected?

[2022-09-01 10:57] broadstack-au commented on #393
Yeah, that works too - was trying to keep it equivalent with the positive test.
Happy to amend both if you prefer.

[2022-09-01 11:10] broadstack-au commented on #393
Ahh - I see - you'd like to get rid of some ansible-lint errors?
I'm happy to do that chore for you as a follow-up.

[2022-09-01 11:22] nemesisdesign commented on #393
No worries, so after applying https://github.com/openwisp/ansible-openwisp2/pull/394 to your local copy of the ansible role, are you able to install successfully?

[2022-09-01 11:26] broadstack-au commented on #393
I am - yes

[2022-09-01 15:10] #393 closed

[2022-09-12 23:42] chaosenze opened #398 "error during install freeradius-role"
Hi,

it looks like it's the wrong path to freeradius config dir.

[code]

[code]

[code]

[2022-09-13 09:17] #365 closed

[2022-09-13 21:17] mikysal78 opened #400 "error install source deadsnakes on bullseye"
https://github.com/openwisp/ansible-openwisp2/blob/4f0a14825ccc7abfd9727391a0b2b9027a711d26/tasks/apt.yml#L143

i have this error:
[code]

[2022-09-21 10:05] pandafy opened #401 "[enhancement] Use FreeRADIUS 3.2 for installation"
The role installs FreeRADIUS 3.0.x which fails on Ubuntu 22.04.1 because `libjson-c4` package is not available.

Moreover, the [FreeRADIUS documentation](https://networkradius.com/packages/#fr30-ubuntu) does not mention support for Ubuntu 22.04 for FreeRADIUS 3.0.

We should update the role to install FreeRADIUS 3.2

[2022-09-29 10:45] emsu-io-suefke opened #406 "error: playbook openwisp2_firmware_upgrader: false, but supervisorctl", "restart", "celery_firmware_upgrader runs and fails"
At commit b2c6431e6a8  + some unrelated local changes regarding creation of SSL certificates:
Attached playbook.yml has been stripped of any personal information by placing <redacted>, hostname of of target replaced by <target_host>. Hopefully this is enough to re-create the problem. To create a minimal working example,
set vars:
     openwisp2_firmware_upgrader: false
for any configuration that w

[2022-10-06 11:09] emsu-io-suefke commented on #400
Pull request to fix this issue: https://github.com/openwisp/ansible-openwisp2/pull/407

[2022-10-10 08:58] #401 closed

[2022-10-16 21:45] mikysal78 commented on #400
When will the merge be done?
As of today, if you don't have ubuntu, you can't upgrade or install!

[2022-10-18 11:58] #406 closed

[2022-10-22 19:30] mikysal78 commented on #400
I tried after the merge but I get the same error.
On my notebook i have os debian11.5 and i have this version of ansible:
[code]
  my ansible.cfg is:
[code]

[2022-10-24 06:22] emsu-io-suefke commented on #400
Hello Michele,

if your |python version = 3.9.2 , then no deadsnakes-ppa (newer Python
versions for older systems) should
be needed.||||What I did not understand yet: The system you are
installing to (your Ansible -i hosts), what OS
is that ||and is there an OS-provided python already installed?|
|I have recently-ish (maybe 6 weeks ago) installed using Ansible *on* a
virtual machine ( -i hosts ) t

[2022-10-24 17:34] mikysal78 commented on #400
Hi,
my hosts files (ansible -i hosts...)
is this:
[code]

My notebook (where I run ansible playbook) is debian 11.5
[code]

on server (debian 11.5) (vps on ovh):
[code]

[2022-10-24 17:41] mikysal78 commented on #400
now try to cange line to file hosts from:
controller.nnxx.ninux.org ansible_user=root
to
[openwisp2]
controller.nnxx.ninux.org ansible_user=root ansible_python_interpreter=python3

bat:
[code]

[2022-10-24 18:04] mikysal78 commented on #400
Try to purge from apt python2.7 and reboot my notebook.
[code]
now is installed only python 3.9

[2022-10-25 21:31] mikysal78 commented on #400
is normal when run:
[code]
result is:
[code]

[2022-10-25 22:42] mikysal78 commented on #400
I try comment task/apt.yml lines:
[code]

and now
[code]
want to install python3.7 when I have python 3.9?
Something in the version control is wrong!

however for the ubuntu repo there is not exist bullseye.
a 'ubuntu or other distribution' check is required
´```
The repository ''http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bullseye Release'' does not have a Release file.'
[code]

[2022-11-04 23:24] mikysal78 commented on #400
@emsu-io-suefke i try modify the file apt.yml to:
[code]

On the debug i have this:
[code]
how can this problem be solved?

[2022-11-16 19:29] nemesisdesign commented on #385
This is being tracked in https://github.com/openwisp/netjsonconfig/issues/195.

[2022-11-16 19:29] #385 closed

[2022-11-16 19:39] nemesisdesign opened #411 "[feature] Add default EMAIL_TIMEOUT"
Add a default `EMAIL_TIMEOUT` to avoid the situation explained in https://code.djangoproject.com/ticket/34167#ticket, we could set the default to 10 seconds.

[2022-11-29 16:48] pandafy opened #414 "[bug] Command issue on ansible-core~=2.14.0"
This task fails with ansible-core~=2.14.0

https://github.com/openwisp/ansible-openwisp2/blob/7cea174647a9f1e0a39597e7465e5c634ac7254c/tasks/nginx.yml#L26-L38

It appears that from ansible-core>=2.14, the [`ansible.builtin.command`](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html#parameters) module no longer accepts `warn` argument.

We should update this ta